<div class="footer-parallax-container">
    {% include  "@wristcheck/header.html.twig" %}
    {% include  "@wristcheck/page/page--header.html.twig" %}
        {{ page.content }}
        {{ page.section }}
    {% include  "@wristcheck/footer.html.twig" %}
</div>