{% include "@wristcheck/header.html.twig" %}
{% include "@wristcheck/page/page--header.html.twig" %}
<section class="sec-padding">
  <div class="container cart-form-css">
    {{ page.content }}
    {{ page.section }}
  </div>
</section>
{% include "@wristcheck/footer.html.twig" %}
