<<<<<<< HEAD
<div class="footer-parallax-container">
    {% include  "@wristcheck/header.html.twig" %}
    {% include  "@wristcheck/page/page--header.html.twig" %}
        {{ page.content }}
        {{ page.section }}
    {% include  "@wristcheck/footer.html.twig" %}
=======
<div class="footer-parallax-container">
    {% include  "@wristcheck/header.html.twig" %}
    {% include  "@wristcheck/page/page--header.html.twig" %}
        {{ page.content }}
        {{ page.section }}
    {% include  "@wristcheck/footer.html.twig" %}
>>>>>>> 1b0c17425b31b94d519892d2ca11fa7c322ddb0e
</div>