<div class="container">
  <div class="row">
    <div class="wc-panel wc-sign-up">
      <div class="row">
        <div class="col-md-6">
          <div class="wc-sign-up__box">
            <div class="wc-sign-up__title">SIGN UP FOR WRISTCHECK NEWS</div>
            <div class="wc-sign-up__sub">Stay informed about the latest style advice and product launches.
{#              Learn more#}
{#              about#}
{#              our emails and our Privacy Policy#}
            </div>
          </div>
          {{ variables.maintenance_form }}
          {#          <label for="homepage-email">#}
          {#            <input type="email" placeholder="Email Address" id="homepage-email" class="wc-sign-up__input">#}
          {#            <button type="button" class="wc-sign-up__btn">SIGN UP</button>#}
          {#          </label>#}
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
          <div class="wc-sign-up__box">
            <div class="wc-sign-up__title">CONTACT US</div>
            <div class="wc-sign-up__sub">concierge@wristcheck.com</div>
            <div class="wc-sign-up__sub">+862 1234 5678</div>
          </div>
{#          <div class="wc-sign-up__box">#}
{#            <div class="wc-sign-up__title">CHAT WITH US</div>#}
{#            <div class="wc-sign-up__sub">Stay informed about the latest style advice and product launches. Learn more#}
{#              about our emails and our Privacy Policy#}
{#            </div>#}
{#          </div>#}
        </div>
      </div>
    </div>
  </div>
</div>
