<div class="col-md-12">
  <div class='wc-panel__title text-left'>{{ 'I checked values at WRISTCHECK'|t }}</div>
  <div class="row wc-faq-checkout">
      <img src="/themes/custom/wristcheck_barrio/images/checkvalue.png"/>
  </div>
</div>
