<div class="container">
	<div class="wc-faq-container">
		<div class="wc-faq-panel">
			<div class="wc-faq-header">
				<h1 class='wc-faq__title'>{{ 'FREQUENTLY ASKED QUESTIONS'|t }}</h1>
			</div>
			{{ drupal_view('wristcheck_faq') }}
		</div>
		<p class='wc-faq-footer'>Have more questions? Contact us at +862 1234 5678 </p>
	</div>
</div>