{#<div class="wc-panel">#}
{{ drupal_entity("block_content",60) }}
<div class="wc-longbuy-product-split">
	<div class="container">
		{{ drupal_block("wristcheck_filter_product_block") }}
		<div class="wc-longbuy-product-split-rg">
			<div class="wc-product-searchview-header">
				<div class="wc-sortproduct-option">
				<span>Sort by</span>
				<select id="sort_by_product">
					<option value="1">Newest first</option>
					<option value="2">Price low to high</option>
					<option value="3">Price high to low</option>
				</select>
				</div>
			</div>
			{{ drupal_view("wristcheck_products","more_products") }}
		</div>
	</div>
</div>