<div class="row">
  <div class="col-md-12">
    <div class="wc-sell-banner">
      <h1 class="wc-sell-banner__title">Free Advertising</h1>
      <p class="wc-sell-banner__sub">Nine million watch enthusiasts a month</p>
      <div class="form--inline">
        <div class="input-group wc-sell-banner__input">
          <input class="form-control"/>
          <div class="input-group-append">
            <button type="button" class="wc-btn-dark">
              <span class="wc-btn-cont">
                <span class="fa fa-arrow-right"></span> |
                EARCH
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
