<div class="wc-panel bg-f9">
  <h1 class='wc-panel__title text-center pb-100'>{{ 'DOWNLOAD OUR APP & FOLLOW US'|t }}</h1>
  <div class="container">
    <div class="wc-download-follow">
      <div class="flex-1-item">
        <a href="javascript:;">
          <img class="wc-df-icon" src="/themes/custom/wristcheck_barrio/images/icons/w.png"/>
          <p class="wc-title">wristcheck <br/> App</p>
        </a>
      </div>
      <div class="flex-1-item">
        <a href="javascript:;">
          <img class="wc-df-icon" src="/themes/custom/wristcheck_barrio/images/icons/instagram.png"/>
          <p class="wc-title">wristcheck <br>on <br/> instagram</p>
        </a>
      </div>
      <div class="flex-1-item">
        <a href="javascript:;">
          <img class="wc-df-icon" src="/themes/custom/wristcheck_barrio/images/icons/weibo.png"/>
          <p class="wc-title">weibo</p>
        </a>
      </div>
      <div class="flex-1-item">
        <a href="javascript:;">
          <img class="wc-df-icon" src="/themes/custom/wristcheck_barrio/images/icons/facebook.png"/>
          <p class="wc-title">facebook</p>
        </a>
      </div>
      <div class="flex-1-item">
        <a href="javascript:;">
          <img class="wc-df-icon" src="/themes/custom/wristcheck_barrio/images/icons/twitter.png"/>
          <p class="wc-title">twitter</p>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="wc-panel wc-sign-up">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="wc-sign-up__box">
          <div class="wc-sign-up__title">SIGN UP FOR WRISTCHECK NEWS</div>
          <div class="wc-sign-up__sub">Stay informed about the latest style advice and product launches. Learn more
            about
            our emails and our Privacy Policy
          </div>
        </div>
        <label for="homepage-email">
          <input type="email" placeholder="Email Address" id="homepage-email" class="wc-sign-up__input">
          <button type="button" class="wc-sign-up__btn">SIGN UP</button>
        </label>
      </div>
      <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
        <div class="wc-sign-up__box">
          <div class="wc-sign-up__title">CONTACT US</div>
          <div class="wc-sign-up__sub">concierge@wristcheck.com</div>
          <div class="wc-sign-up__sub">+862 1234 5678</div>
        </div>
        <div class="wc-sign-up__box">
          <div class="wc-sign-up__title">CHAT WITH US</div>
          <div class="wc-sign-up__sub">Stay informed about the latest style advice and product launches. Learn more
            about our emails and our Privacy Policy
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
