<div class="cart-empty-page d-flex flex-column justify-content-center align-items-center">
  <img src="/themes/custom/wristcheck_barrio/images/v2/error/403.png" alt="">
  <p>{{ 'Sorry you do not have permission to access this page'|t }}</p>
</div>
