<div class="wc-panel">
  <div class="wc-panel__title text-center">benifs of trusted checkout</div>
  <div class="container pt-100">
    <div class="row">
      <div class="col-md-4">
        <div class="wc-checkout-item">
          <div class="wc-checkout-item__img">
            <img src="/themes/custom/wristcheck_barrio/images/icons/box.png" alt="">
          </div>
          <div class="wc-checkout-item__title">
            PAYMENT VIA AN ESCROW
            ACCOUNT
          </div>
          <div class="wc-checkout-item__sub">
            The dealer receives payment only after you’ve received the watch
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="wc-checkout-item">
          <div class="wc-checkout-item__img">
            <img src="/themes/custom/wristcheck_barrio/images/icons/payment.png" alt="">
          </div>
          <div class="wc-checkout-item__title">
            9 million potential buyers
            month
          </div>
          <div class="wc-checkout-item__sub">
            The dealer receives payment only after you’ve received the watch
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="wc-checkout-item">
          <div class="wc-checkout-item__img">
            <img src="/themes/custom/wristcheck_barrio/images/icons/concat.png" alt="">
          </div>
          <div class="wc-checkout-item__title">
            Parsonalized support
          </div>
          <div class="wc-checkout-item__sub">
            The dealer receives payment only after you’ve received the watch
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
