<div class="cart-empty-page d-flex flex-column justify-content-center align-items-center">
  <img src="/themes/custom/wristcheck_barrio/images/v2/error/404.png" alt="">
  <p>{{ 'Sorry this page does not exist'|t }}</p>
</div>
