<div class="container">
	<div class="v-line"></div>
  	<div class="wc-panel">
    	<div class="wc-panel__title text-center">WRISTCHECK SERVICES</div>
		<div class="row">
			<div class="col-md-4">
				<div class="wc-checkout-item">
				<div class="wc-checkout-item__img">
					<img src="/themes/custom/wristcheck_barrio/images/icons/sell01.png" alt="">
				</div>
				<div class="wc-checkout-item__title">
		{#            Get Fair Market Value for Your Watch#}
					GET FAIR MARKET VALUE FOR YOUR WATCH
				</div>
				<div class="wc-checkout-item__sub">
					Get paid what you deserve! Since our pricing is transparent and uniform for all of our listings, you won't have to deal with getting lowballed ever again! Our platform will also give you a suggested listing price to help sell your piece fast.
				</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="wc-checkout-item">
				<div class="wc-checkout-item__img">
					<img src="/themes/custom/wristcheck_barrio/images/icons/sell02.png" alt="">
				</div>
				<div class="wc-checkout-item__title">
		{#            Professional Photos on the House#}
					PROFESSIONAL PHOTOS ON THE HOUSE
				</div>
				<div class="wc-checkout-item__sub">
					Bring your watch into our Boutique in Landmark and our professional watch photographers will take photos of your watch, free of charge! We understand how hard it is to take good watch photos so don't worry, we got you covered. Using this service also dramatically increases your chances of selling your watch.
		{#            Bring your watch into our Boutique in Landmark and our professional watch photographers will take photos of your watch , free of charge ! We understand how hard it 15 to ta 触 gOOd watch photos 50 don ' t worry . we got you covered . Using this service also dramatically increases your chances of selling your watch .#}
				</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="wc-checkout-item">
				<div class="wc-checkout-item__img">
					<img src="/themes/custom/wristcheck_barrio/images/icons/sell03.png" alt="">
				</div>
				<div class="wc-checkout-item__title">
		{#            Fast Payment#}
					FAST PAYMNENT
				</div>
				<div class="wc-checkout-item__sub">
					Money will get released as soon as authentication is complete. We respect the importance of a swift payment, and we won't waste any of your time.
				</div>
				</div>
			</div>

    	</div>
  	</div>
	<div class="v-line"></div>
</div>
