<div class="wc-faq-panel ">
  <div class="wc-faq-header">
    <h1 class='wc-panel__title text-center'>{{ 'Help and Frequently Asked Questrions'|t }}</h1>
    <h5 class='wc-panel__title text-center'>{{ 'Use the search box below to search through our FAQ and find answers to your questions quickly. You can also contact us directly'|t }}</h5>
  </div>
  <div class="container">
    {{ drupal_view('wristcheck_faq') }}
  </div>
</div>
