<div class="row">
  <div class="col-md-12">
    <div class="wc-panel">
      <div class="wc-panel__title text-center">VIDEO</div>
      <div class="wc-video-box">
        <video autoplay src="{{ variables.link }}"></video>
      </div>
    </div>
  </div>
</div>
