<div class="wc-panel ">
  <h1 class='wc-panel__title text-left'>{{ 'Help and Frequently Asked Questrions'|t }}</h1>
  <h5 class='wc-panel__description text-left text-description'>{{ 'Use the search box below to search through our FAQ and find answers to your questions quickly. You can also contact us directly'|t }}</h5>
  {{ drupal_view('wristcheck_faq') }}
</div>
