<div class="wc-panel ">
  <h1 class='wc-panel-faq__title '>{{ 'Help and Frequently Asked Questrions'|t }}</h1>
  <h5 class='wc-panel-faq__description '>{{ 'Use the search box below to search through our FAQ and find answers to your questions quickly. You can also contact us directly'|t }}</h5>
</div>
{{ drupal_view('wristcheck_faq') }}
