<div class="wc-panel bg-f9">
  <h1 class='wc-panel__title text-center'>{{ 'Help and Frequently Asked Questrions'|t }}</h1>
  <h5 class='wc-panel__description text-center'>{{ 'Use the search box below to search through our FAQ and find answers to your questions quickly. You can also contact us directly'|t }}</h5>
{#  <div class="row">#}
    {{ drupal_view('wristcheck_faq','faq_index') }}
{#  </div>#}
</div>
