<div class="wc-panel">
  <h1 class="wc-panel__title text-center">SELLING PROCESS</h1>
  <div class="container pt-100">
    <img class="img-fluid" src="/themes/custom/wristcheck_barrio/images/step.png"/>
  </div>
</div>
