<div>
  <div class="wc-panel pt-100">
    <h1 class='wc-panel__title text-center'>{{ 'HOT RECOMMENDED'|t }}</h1>
    <div class='container portfolio'>
      <div class="row">
      </div>
      {{ drupal_view('sell') }}
    </div>
  </div>
</div>
