<div class="wc-panel">
  <div class="row direction">
{#    <h5> <img src="/themes/custom/wristcheck_barrio/images/icons/arrow-right.png"/>So Let's go back to the list </h5>#}
    <h5> <i class="fa fa-angle-left"></i>So Let's go back to the list </h5>
  </div>
  <hr />
  <div class="user-active-title">
    <h1 class="note-title">ENABLE YOUR USER ACCOUNT TO COMPLETE THE ORDER</h1>
    <h5>afsadfklsajflsajfslafjdslakfjsaklfjsadklfjdsaklfjsalkfj</h5>
    <span class="note-start"><h5>please note: without enabling your user account, the seller will not be able to reserve your order for you</h5></span>
  </div>
  <div class="re-email">
    <h1>Did you not receive the email?</h1>
    <a href="/fsdfasfsdf">Re-send to enable the link</a>
    <div>
      <img src="/themes/custom/wristcheck_barrio/images/watch.png"/>
      <h5>fdsfsafsafdsafsafsafsf</h5>
      <h5>Time Solution(HK)Ltd <img src="/themes/custom/wristcheck_barrio/images/icons/help.png"/></h5>
    </div>
  </div>

  <div class="row">
    <div class="user_act_footer">
        <div>
            <h1>Next steps:</h1>
            <h5>fdslfdsjaflksajfkldjsafklsajfklsdajfklsajflkasjfk</h5>
        </div>
    </div>
  </div>
</div>

