
{% if variables["total"] %}
{{ drupal_view("wristcheck_portfolio") }}
 <div class="row">
   <div class="wc-panel-protfolio">
   <div class="wc-protfolio__total col-xs-6 col-sm-6 col-md-12">{{ variables["total"] }}</div>
     <div class="wc-product-introduction">
       <div class="wc-product-btn"  >
         <a href="javascript:;" class="wc-product-add-wishlist ">
           <span class="fa fa-arrow-right"></span>
           | ADD A NEW TABLE</a>
       </div>
     </div>
   </div>
 </div>
{% else %}
<div class="wc-user-info">
  <div class="wc-user-info__title">PORTFOLIO</div>
  <div class="row">
    <div class="col-md-12">
      <div class="wc-protfolio-empty-box">
        <p class="wc-protfolio-empty-box__font1">WATCH COLLECTION </p>
        <p class="wc-protfolio-empty-box__font2">ADD YOUR FIRST WATCH TO THE WATCH COLLECTION</p>
        <button type="button" class="form-control wc-btn-dark wc-protfolio-empty-box__btn">
          <span class="wc-btn-cont">
            <span class="fa fa-arrow-right"></span> |
            ADD A WATCH
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
{% endif %}


