<div class="wc-panel">
  <h1 class="wc-panel__title text-center">SELLING PROCESS</h1>
  <div class="container pt-100">
    <div class="step-img_box selling-process-img-box">
      <img class="process-img" src="/themes/custom/wristcheck_barrio/images/process/step_01.png"/>
      <img class="process-img" src="/themes/custom/wristcheck_barrio/images/process/step_02.png"/>
      <img class="process-img" src="/themes/custom/wristcheck_barrio/images/process/step_03.png"/>
      <img class="process-img" src="/themes/custom/wristcheck_barrio/images/process/step_04.png"/>
      <img class="process-img" src="/themes/custom/wristcheck_barrio/images/process/step_05.png"/>
    </div>
    {# <img class="img-fluid" src="/themes/custom/wristcheck_barrio/images/step.png"/> #}
  </div>
</div>
