<div class="wc-payment">
  <h1 class="wc-payment__title">PAYMENT</h1>
  <div class="row">
    <div class="col-md-12 wc-payment__item">
      <h2 class="wc-payment__item__titile">Pay the password</h2>
      <div class="wc-payment__item__body d-flex flex-row justify-content-between mt-3">
        <p>For payment verification, etc</p>
        <a>Set up the</a>
      </div>
    </div>
    <div class="col-md-12 wc-payment__item">
      <h2 class="wc-payment__item__titile">Choose payment method</h2>
      <div class="wc-payment__item__body d-flex flex-row justify-content-between mt-3">
        <p>You can choose WeChat, alipay, bank card, etc</p>
        <a  href="user/{{ user.id }}/payment-methods" class="action-link">Set up the</a>
      </div>
    </div>
    <div class="col-md-12 wc-payment__item">
      <h2 class="wc-payment__item__titile">My bank card</h2>
      <div class="wc-payment__item__body d-flex flex-row justify-content-between mt-3">
        <p>Manage bank CARDS under your account</p>
        <a href="user/{{ user.id }}/payment-methods" class="action-link">Set up the</a>
      </div>
    </div>
  </div>
</div>
