  <h1>benifs of trusted checkout</h1>
  <div class="faq_checkout">
  <div>
    <img src="/themes/custom/wristcheck_barrio/images/watch.png"/>
    <h5>aaaaaaaaa</h5>
  </div>
  <div>
    <img src="/themes/custom/wristcheck_barrio/images/watch.png"/>
    <h5>aaaaaaaaa</h5>
  </div>
  <div>
    <img src="/themes/custom/wristcheck_barrio/images/watch.png"/>
    <h5>aaaaaaaaa</h5>
  </div>
</div>
