<div class="wc-v2-panel">
  <div class="wc-v2-panel__title text-center">HOW IT WORKS</div>
  <div class="row">
    <div class="col-md-4">
      <div class="wc-v2-how_it_works__item">
        <div class="how_it_works__icon">
          <img src="/themes/custom/wristcheck_barrio/images/v2/icon/watch-icon.png" alt="">
        </div>
        <div class="how_it_works__cont">
          <div class="how_it_works__title">100% Authenticiy Guaranteed</div>
          {# <div class="how_it_works__detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor
          </div> #}
          <a href="javascript:;" class="how_it_works__link">
            <span>LEARN MORE</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="wc-v2-how_it_works__item">
        <div class="how_it_works__icon">
          <img src="/themes/custom/wristcheck_barrio/images/v2/icon/tag-icon.png" alt="">
        </div>
        <div class="how_it_works__cont">
          <div class="how_it_works__title">Buyer Protection. Peace of Mind.</div>
          {# <div class="how_it_works__detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor
          </div> #}
          <a href="javascript:;" class="how_it_works__link">
            <span>LEARN MORE</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="wc-v2-how_it_works__item">
        <div class="how_it_works__icon">
          <img src="/themes/custom/wristcheck_barrio/images/v2/icon/hand-icon.png" alt="">
        </div>
        <div class="how_it_works__cont">
          <div class="how_it_works__title">Fast Payment. Secure Delivery.</div>
          {# <div class="how_it_works__detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor
          </div> #}
          <a href="javascript:;" class="how_it_works__link">
            <span>LEARN MORE</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
