<div class="wc-panel">
  <h1 class="wc-panel__title text-center">SELLING PROCESS</h1>

  <div class="container pt-100"><img class="img-fluid" src="/themes/custom/wristcheck_barrio/images/step.png"/>
    <div class="service pt-100">
      <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3">
          <div class="service-panel">
            <div class="service-content text-center">
              <h3>SELL</h3>

              <div class="service-detail">
                <p>The aim is to become China's number one high end used watch trading platform, with
                  officialbrandauthorized authentication OBAAC, the official brand authentication centers, allowing
                  .</p>
              </div>
              <button class="btn btn-default wc-ex-btn wc-service-btn" type="button">EXPLORE MORE</button>
            </div>
          </div>
          <!-- .service-panel end --></div>

        <div class="col-sm-12 col-md-3 col-lg-3">
          <div class="service-panel">
            <div class="service-content text-center">
              <h3>BUY</h3>

              <div class="service-detail">
                <p>The aim is to become China's number one high end used watch trading platform, with
                  officialbrandauthorized authentication OBAAC, the official brand authentication centers, allowing.</p>
              </div>
              <button class="btn btn-default wc-ex-btn wc-service-btn" type="button">EXPLORE MORE</button>
            </div>
          </div>
          <!-- .service-panel end --></div>

        <div class="col-sm-12 col-md-3 col-lg-3">
          <div class="service-panel">
            <div class="service-content text-center">
              <h3>FINANCE</h3>

              <div class="service-detail">
                <p>The aim is to become China's number one high end used watch trading platform, with
                  officialbrandauthorized authentication OBAAC, the official brand authentication centers, allowing.</p>
              </div>
              <button class="btn btn-default wc-ex-btn wc-service-btn" type="button">EXPLORE MORE</button>
            </div>
          </div>
          <!-- .service-panel end --></div>

        <div class="col-sm-12 col-md-3 col-lg-3">
          <div class="service-panel">
            <div class="service-content text-center">
              <h3>ABOUT US</h3>

              <div class="service-detail">
                <p>The aim is to become China's number one high end used watch trading platform, with
                  officialbrandauthorized authentication OBAAC, the official brand authentication centers, allowing.</p>
              </div>
              <button class="btn btn-default wc-ex-btn wc-service-btn" type="button">EXPLORE MORE</button>
            </div>
          </div>
          <!-- .service-panel end --></div>
      </div>
    </div>
  </div>
</div>
