<div class="wc-panel">
  <div class="text-center"><span class="wc-discover__title">sinn 203 st : a diving chronogeraph with pilot’s watch potential</span>
  </div>
  <div class="wc-discover__sub text-center">Everything you need to know about the features, technology, and quality
    behind the Sinn 203 St.
  </div>
  <div class="wc-discover__tag">
    <a>BUYER'S GUIDE</a>
    <a>by Nils Rau</a>
  </div>
</div>
<div class="wc-panel wc-padding-top-0">
  <div class="wc-panel__title text-center">LATEST ARTICLES</div>
  {{ drupal_view('wristcheck_buy_magazine','latest_articles') }}
</div>

<div class="wc-panel wc-padding-top-0">
  <div class="wc-panel__title text-center">FURTHER ARTICLES ABOUT ROLEX</div>
  {{ drupal_view('wristcheck_buy_magazine','further_articles') }}
</div>

<div class="wc-panel wc-padding-top-0">
  <div class="wc-panel__title text-center">WRISTCHECK BUYER'S GUIDE</div>
  {{ drupal_view('wristcheck_buy_magazine','buy_guide') }}
</div>

<div class="wc-panel wc-rolex wc-padding-top-0">
  <div class="wc-panel__title text-center">
    FURTHER ARTICLES ABOUT ROLEX
  </div>
  {{ drupal_view('wristcheck_buy_magazine','further_articles_3') }}
</div>
