<div class="wc-panel bg-f9">
  <h1 class='wc-panel__title text-center pb-100'>{{ 'DOWNLOAD OUR APP & FOLLOW US'|t }}</h1>
  <div class="container">
    <div class="wc-download-follow">
      <div class="flex-1-item">
        <a href="javascript:;">
          <img class="wc-df-icon" src="/themes/custom/wristcheck_barrio/images/icons/w.png"/>
          <p class="wc-title">wristcheck <br/> App</p>
        </a>
      </div>
      <div class="flex-1-item">
        <a href="javascript:;">
          <img class="wc-df-icon" src="/themes/custom/wristcheck_barrio/images/icons/instagram.png"/>
          <p class="wc-title">wristcheck <br>on <br/> instagram</p>
        </a>
      </div>
      <div class="flex-1-item">
        <a href="javascript:;">
          <img class="wc-df-icon" src="/themes/custom/wristcheck_barrio/images/icons/weibo.png"/>
          <p class="wc-title">weibo</p>
        </a>
      </div>
      <div class="flex-1-item">
        <a href="javascript:;">
          <img class="wc-df-icon" src="/themes/custom/wristcheck_barrio/images/icons/facebook.png"/>
          <p class="wc-title">facebook</p>
        </a>
      </div>
      <div class="flex-1-item">
        <a href="javascript:;">
          <img class="wc-df-icon" src="/themes/custom/wristcheck_barrio/images/icons/twitter.png"/>
          <p class="wc-title">twitter</p>
        </a>
      </div>
    </div>
  </div>
</div>

