<div class="wc-panel bg-f9">
  <h1 class='wc-panel__title text-center'>{{ 'DOWNLOAD OUR APP & FOLLOW US'|t }}</h1>
  <div class="container">
    <div class="wc-download-follow">
      <div class="flex-1-item">
        <a href="javascript:;">
          <img class="wc-df-icon" src="/themes/wristcheck/images/icon/w.png"/>
          <p class="wc-title">wristcheck <br/> App</p>
        </a>
      </div>
      <div class="flex-1-item">
        <a href="javascript:;">
          <img class="wc-df-icon" src="/themes/wristcheck/images/icon/instagram.png"/>
          <p class="wc-title">wristcheck <br>on <br/> instagram</p>
        </a>
      </div>
      <div class="flex-1-item">
        <a href="javascript:;">
          <img class="wc-df-icon" src="/themes/wristcheck/images/icon/weibo.png"/>
          <p class="wc-title">weibo</p>
        </a>
      </div>
      <div class="flex-1-item">
        <a href="javascript:;">
          <img class="wc-df-icon" src="/themes/wristcheck/images/icon/facebook.png"/>
          <p class="wc-title">facebook</p>
        </a>
      </div>
      <div class="flex-1-item">
        <a href="javascript:;">
          <img class="wc-df-icon" src="/themes/wristcheck/images/icon/twitter.png"/>
          <p class="wc-title">twwitter</p>
        </a>
      </div>
    </div>
  </div>
</div>
