<div class="wc-panel">
  <div class="wc-panel__title text-center">BENEFITS OF BUYING THROUGH US</div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="wc-checkout-item">
          <div class="wc-checkout-item__img">
            <img src="/themes/custom/wristcheck_barrio/images/icons/buybenefits01.png" alt="">
          </div>
          <div class="wc-checkout-item__title">
            PAYMENT VIA AN ESCROW ACCOUNT
          </div>
          <div class="wc-checkout-item__sub">
            Your payments will be secure in an escrow account until your incoming watch is authenticated by our experts.
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="wc-checkout-item">
          <div class="wc-checkout-item__img">
            <img src="/themes/custom/wristcheck_barrio/images/icons/buybenefits02.png" alt="">
          </div>
          <div class="wc-checkout-item__title">
            SCAM-FREE
          </div>
          <div class="wc-checkout-item__sub">
            WristCheck is committed to upholding the highest industry standards in authenticating all of the watches that are sold through our platform.All watches bought on our platform are subject to a 1 year warranty.
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="wc-checkout-item">
          <div class="wc-checkout-item__img">
            <img src="/themes/custom/wristcheck_barrio/images/icons/buybenefits03.png" alt="">
          </div>
          <div class="wc-checkout-item__title">
            PERSONALISED SUPPORT
          </div>
          <div class="wc-checkout-item__sub">
            Dedicated online support from the Wristcheck team, or come find us in our store!
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
