
{% if variables["total"] %}
{{ drupal_view("wristcheck_portfolio") }}
 <div class="d-flex flex-row justify-content-between align-items-center mt-5">
    <span>{{ variables["total"] }}</span>
    <a href="#" class="wc-btn-dark wc-btn-large wc-sell-get-started text-center">
      <span class="wc-btn-cont">
        <span class="fa  fa-arrow-right"></span>
        <span class="btn-line"></span>
        ADD A NEW TABLE
      </span>
    </a>
  </div>
{% else %}
<div class="wc-user-info">
  <div class="wc-user-info__title">PORTFOLIO</div>
  <div class="row">
    <div class="col-md-12">
      <div class="wc-protfolio-empty-box">
        <p class="wc-protfolio-empty-box__font1">WATCH COLLECTION </p>
        <p class="wc-protfolio-empty-box__font2">ADD YOUR FIRST WATCH TO THE WATCH COLLECTION</p>
        <button type="button" class="form-control wc-btn-dark wc-protfolio-empty-box__btn">
          <span class="wc-btn-cont">
            <span class="fa  fa-arrow-right"></span>
            <span class="btn-line"></span>
            ADD A WATCH
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
{% endif %}


