  <h1>benifs of trusted checkout</h1>
  <div class="faq_checkout">
  <div>
    <img src="/themes/custom/wristcheck_barrio/images/faqcheckout.png"/>
  </div>
{#  <div>#}
{#    <img src="/themes/custom/wristcheck_barrio/images/faqcheckout2.png"/>#}
{#  </div>#}
{#  <div>#}
{#    <img src="/themes/custom/wristcheck_barrio/images/faqcheckout3.png"/>#}
{#  </div>#}
</div>
