@import '../variables/color';

.wc-panel {
  padding: 50px 0;

  .wc-panel3__title {
    font-size: 30px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    margin: 0;
    padding: 50px 0 20px;
  }

  .wc-panel2__title {
    font-size: 36px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    margin: 0;
    padding: 50px 0 20px;
  }

  .wc-panel2__sub {
    font-size: 18px;
    font-family: Source Han Sans CN;
    font-weight: 500;
    color: #222222;
    padding-bottom: 40px;
  }

  .wc-panel__title {
    font-size: 36px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    margin: 0;
    padding: 50px 0;

    &.pb-100 {
      padding-bottom: 100px;
    }
  }

  .wc-panel__sub {
    font-size: 24px;
    font-weight: bold;
    color: rgba(34, 34, 34, 1);
    line-height: 53px;
  }

  .wc-panel__description {
    font-size: 24px;
    //color: rgba(34, 34, 34, 1);
    line-height: 53px;
  }

  .wc-ex-btn {
    color: #333;
    border: 1px solid #333;
    position: relative;

    &::before {
      position: absolute;
      width: 0;
      height: 100%;
      background-color: #333;
      left: 0;
      top: 0;
      content: '';
      transition: all .3s ease-in;
      z-index: -1;
    }

    &:hover {
      color: #FFF;

      &::before {
        position: absolute;
        width: 100%;
      }
    }
  }

  .portfolio-zoom {
    display: inline-block;
    width: 60px;
    height: 60px;
  }
}

.wc-ex-panel {
  display: inline-block;
  width: 100%;
  height: 490px;
  //width: 288px;
  //height: 288px;
  //margin-bottom: -15px;
  //margin-top: -25px;
}

// testimdnials
.wc-testimdnials {
  .wc-testimdnials-img {
    min-height: 16px;
    max-height: 16px;
    margin: 0 auto 25px;
  }

  .flex-1-item {
    padding: 0 30px;
    flex: 1;
  }

  h1 {
    font-size: 24px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    line-height: 24px;
    padding-bottom: 27px;
  }

  .wc-testimdnials-content {
    font-size: 14px;
    font-weight: 400;
    color: rgba(101, 101, 101, 1);
    line-height: 23px;
    word-break: break-all;
  }
}

// rolex
.wc-rolex {
  .wc-rolex-item {
    height: 524px;
    background-color: $bg_gray1;
    position: relative;
    padding: 30px;
    display: flex;
    align-items: flex-end;
  }

  .img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .wc-rolex-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, .3);
    padding: 33px 34px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }


  .wc-rolex-action {
    position: relative;
  }

  .wc-rolex-title {
    font-size: 18px;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    line-height: 30px;
    font-variant: all-small-caps;
  }

  .wc-rolex-sub {
    font-size: 14px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    line-height: 24px;
  }
}

.wc-news {
  .wc-news-item {
    width: 100%;
    height: 226px;
    background-color: $bg_gray3;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &:hover {
      .img-bg {
        transform: scale(1.1);
      }
    }

    .img-bg {
      display: block;
      max-width: 100%;
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      transition: all .4s ease-in;
    }
  }

  .wc-news-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.9));
    padding: 20px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 1;
    transition: all .3s ease-in;

    &:hover {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 0.9));
    }
  }

  .wc-news-title {
    font-size: 30px;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: rgba(239, 238, 238, 1);
    line-height: 24px;
    font-variant: all-small-caps;
  }

  .icon-more {
    display: flex;
    width: 70px;
    height: 70px;
    border: 2px solid rgba(180, 180, 180, 0.41);
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: all .2s ease-in;

    .fa {
      color: rgba(180, 180, 180, 0.41);
      transition: all .2s ease-in;
    }

    &:hover {
      background-color: #333;
      border: 2px solid #333;
      color: #fff;

      .fa {
        color: #FFF;
      }
    }
  }
}

//download follow
.wc-download-follow {
  display: flex;
  width: 100%;

  .flex-1-item {
    width: 20%;

    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        margin-bottom: 0;
      }
    }
  }

  .wc-df-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    cursor: pointer;
  }

  .wc-title {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    line-height: 24px;
    padding-left: 10px;
    font-variant: all-small-caps;
    cursor: pointer;
  }

  br {
    height: 1px;
  }
}

// copyright
.footer-copyright {
  padding: 20px 0 10px;
  text-align: center;
  color: #fff;
  background-color: #000;

  p {
    font-size: 14px;
    color: #919191;
    padding-bottom: 5px;
  }

  a {
    font-size: 14px;
    color: #FFF;
    line-height: 1.5;
  }
}

// category brand

.wc-brands-warp {
  display: flex;
  flex-wrap: wrap;

  .wc-brands-item {
    display: block;
    width: 20%;
    transition: all .3s ease-in;
    margin: 5px;

    &:hover {
      box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
    }
  }
}

.wc-brand-product,
.view-wristcheck-products,
.view-id-wristcheck_popular_watch_brands {
  .view-content {
    display: flex;
    flex-wrap: wrap;

    > .views-row {
      display: block;
      width: 20%;
      padding: 5px;

      .field-content {
        transition: all .3s ease-in;

        a > img {
          display: inline-block;
          width: 100%;
        }

        &:hover {
          box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
        }
      }

    }
  }
}

.view-wristcheck-products .item-list {
  *zoom: 1;
  display: block;
  width: 100%;

  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }

  &:after {
    clear: both;
  }

  > ul > li {
    width: 25%;
    float: left;
  }
}


.wc-v2-panel {
  padding: 70px 0;

  .wc-v2-panel__title {
    font-size: 18px;
    font-family: Helvetica;
    color: #000000;
    margin-bottom: 70px;
  }

  .wc-v2-how_it_works__item {
    padding: 30px;
    display: flex;
    flex-direction: row;
  }

  .how_it_works__icon {
    img {
      display: inline-block;
      width: auto;
      height: 50px;
    }

    margin-right: 20px;
  }

  .how_it_works__cont {
    flex: 1;
  }

  .how_it_works__title {
    font-size: 12px;
    font-family: Helvetica;
    color: #000000;
    line-height: 21px;
    margin-bottom: 5px;
  }

  .how_it_works__detail {
    font-size: 14px;
    font-family: Helvetica;
    color: #000000;
    line-height: 18px;
    height: 36px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .how_it_works__link {
    span {
      font-size: 12px;
      font-family: Helvetica;
      color: #000000;
      padding: 2px 0;
      border-bottom: 1px solid #000;
    }
  }

  //.wc-v2-panel__more {
  //
  //}

  .wc-v2-panel__more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 60px;
    margin: 0 auto;
  }
}
