@import './variables/color';
@import './page/magazinehome';
@import './page/magazinesingle';
@import './page/magazinescreen';
@import './page/faq';
@import './component/footer';
@import './component/header';
@import './component/banner';
@import './layout/panel';
@import './layout/narrow';

.bg-f9 {
  background-color: $bg_gray2;
}

.view-wristcheck-buy-explore .view-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 1900px) {
  .container {
    max-width: 1800px;
  }
}
