{% if breadcrumb %}
  <div class="breadcrumb">
    <ol class="container breadcrumb-container b white">
      {% for index, item in breadcrumb %}
        {% if index+1 < breadcrumb|length %}
          <li><a href="{{ item.url }}">{{ item.text }}</a></li>
        {% else %}
          <li class="active">{{ item.text }}</li>
        {% endif %}
      {% endfor %}
    </ol>
  </div>
{% endif %}
