$color-white:				#ffffff;
$color-black:				#000000;
$color-dark:				rgba(39, 41, 48, 0.2);
$color-dark2: 			#222222;
$color-dark3:       #333;
$color-dark6:       #666;
$color-dark9:       #999;
$color-dark-logo:   #1B1A1A;
$color-gray:				#f9f9f9;
$color-gray2:				#c1c1c1;
$color-gray3:				#777777;
$color-gray4:				#f6f6f7;
$color-gray5:				#a9a9ab;
$color-gray6:				#aaaaaa;
$color-gray7:				#4f5054;
$color-dark3:				#1f2127;
$color-dark4:				#898989;
$color-dark5:				#272930;
$color-link:        #176BA4;

$font-family:       '';

$border-dark:     #000;

$bg_gray:         rgba(223,223,223,0.24);
$bg_gray0:         rgba(223,223,223,1);
$bg_gray1:        #D7D7D7;
$bg_gray2:        #f9f9f9;
$bg_gray3:        #f1f1f1;
$bg_gray4:        #E4E4E4;
