.wc-all-brands-header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;

  .wc-all-brands-header-name {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    color: rgba(153, 153, 153, 1);
    width: 100px;
  }

  .wc-all-brands-header-list {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    color: #999999;
    flex: 1;
    display: flex;
  }
  .wc-all-brands-header-list__href{
    flex: 1;
  }
  a.is-active{
    color: $color-dark2;
  }
  a{
    color: $color-dark9;
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }
}

.wc-all-brands-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 50px 0;

  .wc-all-brands-name {
    font-size: 48px;
    font-weight: 400;
    color: rgba(34, 34, 34, 1);
    line-height: 53px;
    width: 100px;
  }

  .wc-all-brands-list {
    display: flex;
    flex-wrap: wrap;
    flex: 1;

    > .views-row {
      display: block;
      width: 25%;
    }
  }

  .wc-all-brands-item {
    display: flex;
    align-items: flex-start;
    height: 53px;

    a {
      font-size: 18px;
      line-height: 1.5;
      font-weight: 400;
      color: rgba(34, 34, 34, 1);

    }
  }
}
