// breadcrumb
#block-wristcheck-barrio-breadcrumbs {
  .breadcrumb {
    //background-color: #FFF;
    background-color: #F0F0F0;
  }
}

.breadcrumb {
  li {
    list-style: none;
    display: inline-block;
    padding-left: 17px;
    padding-right: 11px;
    position: relative;

    a {
      color: rgba(0,0,0,.56);
    }
  }

  .breadcrumb-container {
    margin: 0 auto !important;
    font-size: 18px;
    color: rgba(51, 51, 51, 1);
    line-height: 24px;


    li > a:hover {
      color: #888;
    }

    li:first-child:before {
      content: '';
      background: none;
      padding-left: 0;
    }

    li:before {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      padding: 4px;
      height: 22px;
      content: ' ';
      color: #666;
      line-height: 22px;
      background: url('../images/icons/arrow-right.png') no-repeat;
      background-position: center;
      background-size: contain;
    }

    li.active {
      color: rgba(102, 102, 102, 1);
    }
  }
}
