// breadcrumb
#block-wristcheck-barrio-breadcrumbs {
  .breadcrumb {
    background-color: #FFF;
  }
}

.breadcrumb {
  .breadcrumb-container {
    margin: 0 auto !important;
    font-size: 18px;
    color: rgba(51, 51, 51, 1);
    line-height: 24px;
    font-weight: bold;

    li>a:hover{
      color: #888;
    }

    li:before{
      content: '>';
      color: #666;
      line-height: 22px;
    }

    li.active {
      color: rgba(102, 102, 102, 1);
    }
  }
}
