.footer-container {
  padding: 100px 0 80px 0;
}

.footer-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  .footer-item {
    min-width: 260px;
    text-align: left;
  }

  .footer-item__title {
    font-size: 14px;
    font-family: Helvetica;
    color: #333;
    line-height: 1.8;
    margin-bottom: 10px;
  }

  .footer-item__sub {
    font-size: 14px;
    font-family: Helvetica;
    color: #333;
    line-height: 1.8;
    padding: 0;
    margin-bottom: 10px;

    li {
      list-style: none;
      padding-left: 0;
      line-height: 1.8;
      margin-bottom: 10px;

      > a:hover {
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .icon-email {
    display: inline-block;
    width: 17px;
    height: 14px;
    margin-right: 12px;
  }

  .icon-call {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 19px;
  }
}

// footer-bottom
.menu--wristcheck-bottom-menu {
  background-color: #F0EFEE;
  width: 100%;

  .w50 {
    width: 50%;
  }
}

.wc-footer-logo {
  text-align: center;

  img {
    display: inline-block;
    max-width: 175px;
    margin-top: 40px;
  }
}

.wc-footer-cont {
  width: 40%;
}

.h-line {
  width: 1px;
  background-color: #979797;
}

.wc-footer-cont__title {
  font-size: 12px;
  font-family: Helvetica;
  color: #333;
  line-height: 21px;

  span {
    padding: 2px 0;
    border-bottom: 2px solid #333;
  }
}

.wc-footer-cont__sub {
  font-size: 14px;
  font-family: Helvetica;
  color: #979797;
  line-height: 18px;
  margin-bottom: 10px;
}

