.footer-container {
  padding: 100px 0 80px 0;
}

.footer-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  .footer-item {
    min-width: 260px;
    text-align: left;
  }
  
  .footer-item__title {
    font-size: 16px;
    color: #333;
    line-height: 24px;
    margin-bottom: 16px;
  }

  .footer-item__sub{
    font-size: 16px;
    color: #333;
    line-height: 24px;
    margin-bottom: 16px;
    padding-left:0;
    li {
      list-style: none;
      padding-left: 0;
      line-height: 1.8;
      margin-bottom: 10px;

      > a:hover {
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .icon-email {
    display: inline-block;
    width: 17px;
    height: 14px;
    margin-right: 12px;
  }

  .icon-call {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 19px;
  }
}

// footer-bottom
.menu--wristcheck-bottom-menu {
  background-color: #F0EFEE;
  width: 100%;
}

.wc-footer-logo {
  text-align: left;
  padding-left:5%;
  img {
    display: inline-block;
    width: 128px;
    margin-bottom: 24px;
  }
  p{
    font-family: Basis Grotesque Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.56);
  }
}

.wc-footer-cont {
  width: 40%;
}

.h-line {
  width: 1px;
  background-color: #979797;
}

.wc-footer-cont__title {
  font-size: 12px;
   
  color: #333;
  line-height: 21px;

  span {
    padding: 2px 0;
    border-bottom: 2px solid #333;
  }
}

.wc-footer-cont__sub {
  font-size: 14px;
   
  color: #979797;
  line-height: 18px;
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  .wc-footer-cont {
    width: 80%;
  }
  .menu--wristcheck-bottom-menu {
    .footer-left {
      width: 65%;
    }

    .footer-right {
      width: 35%;
    }
  }
}

@media (max-width: 640px) {
  .wc-footer-cont {
    width: 80%;
  }
  .menu--wristcheck-bottom-menu {

    .footer-left {
      width: 65%;
    }

    .footer-right {
      width: 35%;
    }
  }
  .footer-box .footer-item {
    min-width: 50%;
  }
}

@media (max-width: 500px) {
  .footer {
    .footer-container {
      padding-top: 50px;
    }

    .footer-left, .footer-right {
      width: 100%;
      padding-bottom: 20px;
    }

    .flex-row {
      flex-direction: column !important;
    }

    .h-line {
      width: 100%;
      height: 1px;
    }

    .wc-footer-cont {
      width: 100%;
      padding-top: 30px;
      text-align: center;
    }
  }
}
