/*------------------------------------*\
    #Nav
\*------------------------------------*/
@import "../variables/color";

.menu--main {
  width: 100%;
}

.navbar {
  margin-bottom: 0;
  top: inherit;
  padding: 0;
}

.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}

.navbar.affix {
  background-color: $color-white;
  padding-top: 0;
  top: 0;
}

.navbar-nav {
  margin-right: 0
}

.navbar-nav > li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav li a {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
  color: $color-dark2;
}

.navbar-nav > li > a {
  display: inline-block;
  position: relative;
  height: 56px;
  padding: 12px 0;
  line-height: 32px;
  text-decoration: none;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent;
  border: none;
}

.navbar-nav > li.active > ul {
  margin-top: 0;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  background-color: transparent
}

/* Menu Level #1 */
.navbar-nav > li > a:before,
.navbar-nav > li > a:after {
  position: absolute;
  background: #000;
  content: ' ';
  height: 2px;
  width: 0;
  bottom: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar-nav > li:hover > a:after {
  width: 2px;
  height: 2px;
  bottom: 0;
  right: 0;
}

.navbar-nav .dian {
  display: inline-block;
  width: 2px;
  height: 2px;
  background-color: #333;
  right: 0;
  bottom: 0;
  position: absolute;
  opacity: 0;
  transition: all .3s ease .2s;
}

.navbar-nav li {
  &.active > a {
    color: $color-black;
  }

  > a {
    color: rgba(0,0,0,.56);
    transition: all .2s ease;
    font-weight: bold;
  }

}

.navbar-nav li.active .dian,
.navbar-nav > li:hover .dian {
  opacity: 1;
}

.navbar-nav li.active a:before,
.navbar-nav > li:hover > a:before {
  bottom: 0;
  width: 80%;
  height: 2px;
  left: 0;
}

.dropdown-toggle::after {
  display: none;
}

.container-p0 {
  padding-right: 0;
  padding-left: 0;
}

.navbar-nav li:hover a {
  font-size: 26px;
  color: $color-black;
}

/* Mega Menu Content */
ul.wc-menu-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  overflow: hidden;
  border-top: 1px solid transparent;
  background-color: transparent;
  transform-origin: center top;
  transition: all .3s ease;
  transform: scaleY(0);
  padding: 35px 100px;
  text-align: left;
  z-index: 2;
  li {
    list-style: none;
  }
}

li.mega-dropdown {
  &:hover {
    ul.wc-menu-container {
      transform: scaleY(1);
      opacity: 1;
      border-top: 1px solid #E4E4E4;
      background-color: #FFF;
    }
  }
}

ul.navbar-submenus {
  padding: 0;

  li {
    min-height: 30px;
    margin-bottom: 10px;
  }
}
.navbar-nav li.active a.wc-menu-read-more::before{
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
}

//.wc-menu-container {
//  li:nth-child(2),
//  li:nth-child(3) {
//    ul > li:last-child {
//      display: inline-block;
//      min-width: 220px;
//      height: 50px;
//      line-height: 50px;
//      text-align: center;
//      padding: 0 10px;
//      position: relative;
//      border: 1px solid $color-dark3;
//      color: $color-dark3;
//      background-color: transparent;
//      transition: all .25s ease;
//      margin-top: 30px;
//
//      &:before {
//        content: '';
//        position: absolute;
//        top: 0;
//        left: 0;
//        width: 0;
//        height: 100%;
//        z-index: -1;
//        transition: all .25s ease;
//      }
//
//      &:hover {
//        color: #FFF !important;
//
//        &:before {
//          width: 100%;
//          background-color: $color-dark3;
//        }
//      }
//
//      a {
//        display: inline-block;
//        position: relative;
//        z-index: 1;
//        color: inherit;
//        padding: 0;
//      }
//    }
//  }
//}
