/**
 * @file
 * The visual styles for Bootstrap Barrio's search form(s).
 */

input[type="search"] {
  box-sizing: border-box;
}

header #search-block-form {
  padding: 5px 15px;
  flex-flow: row wrap;
}

#search-block-form {
  display: flex;
  position: relative;

  .form-type-search {
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 0;
  }

  .form-actions {
    padding-left: 0;
  }
}
