{% if breadcrumb %}
    <ol class="breadcrumb b white" >
    {% for item in breadcrumb %}
        {% if item.url %}
          	<li><a href="{{ item.url }}">{{ item.text }}</a> </li>
        {% else %}
          	<li class="active">/ {{ item.text }}</li>
        {% endif %}
    {% endfor %}
    </ol>
{% endif %}