$color-white:				#ffffff;
$color-black:				#000000;
$color-dark:				rgba(39, 41, 48, 0.2);
$color-dark2: 			#222222;
$color-dark3:       #333;
$color-dark9:       #999;
$color-dark-logo:   #1B1A1A;
$color-gray:				#f9f9f9;
$color-gray2:				#c1c1c1;
$color-gray3:				#777777;
$color-gray4:				#f6f6f7;
$color-gray5:				#a9a9ab;
$color-gray6:				#aaaaaa;
$color-gray7:				#4f5054;
$color-dark3:				#1f2127;
$color-dark4:				#898989;
$color-dark5:				#272930;

$font-family:       '';

$border-dark:     #000;

$bg_gray:         #DFDFDF;