<div class="footer-parallax-container">
    {% include  "@structural/header.html.twig" %}
    {% include  "@structural/page/page--header.html.twig" %}
        {{ page.content }}
        {{ page.section }}
    {% include  "@structural/footer.html.twig" %}
</div>
