{% include  "@ceali/header.html.twig" %}
{% include  "@ceali/page/page--header.html.twig" %}
	<section class="sec-padding">
    	<div class="container">
		    {{ page.content }}
		</div>
	</section>
	{{ page.section }}
{% include  "@ceali/footer.html.twig" %}