<div class="footer-parallax-container">
    {% include  "@ceali/header.html.twig" %}
    {% include  "@ceali/page/page--header.html.twig" %}
        {{ page.content }}
        {{ page.section }}
    {% include  "@ceali/footer.html.twig" %}
</div>