{#
/**
 * @file
 *
 * Empty wishlist page template.
 *
 * @ingroup themeable
 */
#}
<div class="cart-empty-page d-flex flex-column justify-content-center align-items-center">
  <img src="/themes/custom/wristcheck_barrio/images/v2/cart/empty-cart.png" alt="">
  <p>{{ 'Your wishlist is empty.'|t }}</p>
</div>

