.path-faq-selling-step {
  main {
    margin: 0 400px;
    .container {
      .row {
        margin: 0 -30px;

        #block-wristcheck-page-title {
          h1 {
            font-weight: bold;
            margin-bottom: 50px;
          }
        }
        .view-wristcheck-selling-process {
          .view-content {
            .views-row {
              .views-field-title {
                margin-bottom: 50px;
                .field-content {
                  color: #333;
                  font-weight: bold;
                }
              }
              .views-field-field-wristcheck-process-steps {
                .field-content {
                  .paragraph--type--wristcheck-process-steps {
                    .field--name-field-process-step {
                      display: flex;
                      flex-wrap: wrap;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    #block-benifsoftrustedcheckout {
      h2 {
        color: #333;
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 70px;
        //padding: 0 12px;
      }
      .field--name-body {
        display: flex;
        div {
         display: grid;
         margin-right: 15%;
          span {
            position: relative;
            margin: 0 30%;
          }
        }
      }
    }
  }
}

