.path-wristcheck-magazine-home {
  .views-field-field-page-title-image {
    margin-bottom: 50px;
    img {
      width: 100%;
    }
  }
  .container {
    .field--name-body {
      h2,
      h4{
        text-align: center;
        margin-bottom: 18px;
      }
      h2 {
        font-size: 25px;
        text-decoration: underline;
        margin-bottom: 18px;
        font-weight: bold;
      }
      >div {
        text-align: center;
        display: flow-root;
        margin-bottom: 60px;
        a {
          padding: 30px
        }
      }
    }
  }
  .views-field-title {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 25px;
    font-weight: bold;
  }
  .views-field-body {
    text-align: center;
    margin-bottom: 25px;
    .field-content {
      p {
        color: #333;
      }
    }
  }
  .views-field-uid {
    text-align: center;
    margin-bottom: 50px;
    font-size: 10px;
  }

  #block-views-block-latest-articles-block-1 {
    width: 100%;
    >h2 {
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .view-latest-articles {
      margin:0 6%;
      .view-content {
        display: flex;
        flex-wrap: wrap;
        .views-row {
          padding: 0 30px;
          width: 50%;
          .views-field-field-latest-title {
            .field-content {
              h5 {
                color: #999999;
                font-size: 15px;
                //text-decoration: none !important;
              }
              h2 {
                color: #333;
                font-weight: bold;
                margin-bottom: 25px;
                //text-decoration: underline;
                padding-bottom: 5px;
                border-bottom: 1px solid #333;
              }
            }
          }
          .views-field-field-latest-img {
            .field-content {
              img {
                width: 100%;
              }
            }
          }
          .views-field-uid {
            text-align: left;
            margin-bottom: 25px;
            font-size: 15px;
            padding:0;
            .field-content {
              color: #999999;
            }
          }
        }
      }
    }
  }
  #block-views-block-wristcheck-further-articles-block-1 {
    >h2 {
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .view-wristcheck-further-articles {
      .view-content {
        display: flex;
        padding: 0 130px;
        //flex-wrap: wrap;
        .views-row {
          display: grid;
          padding: 0 20px;
          width: 40%;
          .views-field-field-further-articles-img {
             margin-bottom: 25px;
          }
          .views-field-field-further-articles-tag {
            margin-bottom: 10px;
          }
          .views-field-field-further-articles-title {
            font-weight: bold;
            color: #333;
            margin-bottom: 50px;
          }
        }
      }
    }
  }
  #block-views-block-wristcheck-buyer-guide-block-1 {
    >h2 {
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .view-wristcheck-buyer-guide {
      .view-content {
        display: flex;
        flex-wrap: wrap;
        padding: 0 300px;
        .views-row {
          display: flex;
          width: 40%;
          padding-bottom: 50px;
          .views-field-field-buyer-guide-title {
            font-weight: bold;
            color: #333;
            //margin-bottom: 50px;
            margin-left: 50px;
            margin-top: 20px;
          }
          .views-field-field-buyer-guide-tag {
            position: relative;
            margin-top: 23%;
            margin-left: -50px;
          }
        }
      }
    }
  }
}


