@import "variables/variables";
@import "layout/narrow";
@import "layout/panel";
@import "wc-components/banner";
@import "wc-components/blog";
@import "wc-components/breadcrumb";
@import "wc-components/footer";
@import "wc-components/header";
@import "wc-components/menu";
@import "wc-components/portfolio";
@import "wc-components/allBrands";
@import "wc-components/dailogLogin";
@import "wc-components/productSearch";
@import "wc-components/pace-loading";
@import "wc-components/slider";
@import 'page/magazinehome';
@import 'page/magazinesingle';
@import 'page/magazinescreen';
@import 'page/faq';
@import 'page/faqauthsystemsteps';
@import 'page/faqauthsystem';
@import 'page/faqsellingstep';
@import "page/product";
@import "page/cart";
@import "page/login";
@import "page/userinfo";
@import "page/userinfoSidebar";
@import "page/usersupplementform";
@import "page/useractivate";
@import "page/paymentsuccess";
@import "page/paymentstep";
@import "page/payment";
@import "page/sell";
@import "page/sellperson";
@import "page/watchinput";
@import "page/brandproductnode";
@import "page/settings";
@import "page/transactions_buy";
@import "page/protfolio";
@import "page/orderinformation";
@import "page/userwishlist";
@import "page/discover.scss";
@import "page/homepage.scss";
@import "page/buy.scss";
@import "page/wcshw.scss";

body {
  background-color: $body_bg;
  font-family: "basis-grotesque-pro","Helvetica", "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Arial, sans-serif;
}
input, button, select, optgroup, textarea{
  font-family: "basis-grotesque-pro","Helvetica", "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Arial, sans-serif;
}

.v-line {
  width: 100%;
  height: 1px;
  background-color: #979797;
}

.img-fluid {
  width: 100%;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-100 {
  margin-bottom: 100%;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #DFDFDF;
  opacity: .37;
}

.wc-back-nav {
  display: inline-block;
  font-size: 18px;
   
  font-weight: 400;
  color: #222222;

  .fa {
    font-size: 30px;
    margin-right: 10px;
    vertical-align: sub;
  }
}

.page-user-container {
  padding-top: 100px;
  padding-bottom: 120px;
}

a:focus {
  outline: none;
}

.views-infinite-scroll-content-wrapper {
  display: block;
  width: 100%;
}

.wc-btn-white {
  border: 1px solid $color-dark3 !important;
  color: $color-dark3 !important;
  background-color: transparent !important;
  font-size: 14px;
  position: relative;
  transition: all .25s ease;
  padding: 10px 20px;
  font-weight: normal;

  &.wc-v2-panel__more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 60px;
    margin: 0 auto;
  }

  &.wc-btn-large {
    padding: 16px 40px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: all .25s ease;
  }

  &:hover {
    color: #FFF !important;

    &:before {
      width: 100%;
      background-color: $color-dark3;
    }
  }
}

.wc-btn-dark {
  border: 1px solid $color-dark3;
  background-color: $color-dark3;
  color: #FFF !important;
  font-size: 14px;
  position: relative;
  transition: all .25s ease;
  padding: 10px 20px;
  font-weight: normal;

  &.wc-btn-large {
    padding: 16px 40px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    width: 0;
    transition: all .25s ease;
  }

  &:hover {
    color: $color-dark3 !important;

    &:before {
      width: calc(100% - 2px);
      background-color: #FFF;
    }
  }
}

.wc-btn-cont {
  display: inline-block;
  font-weight: normal;
  position: relative;
  z-index: 1;
  font-size: 14px;
}

.views-field-field-brand-logo {
  .field-content {
    .portfolio-img {
      margin-top: 10px !important;
    }
  }
}

//home
.view-wristcheck-buy-explore {
  .portfolio-img {
    //width: 425px !important;
  }
}

#block-wristcheckdownloadappblock-2 {
  width: 100%;
}

.layout-container {
  position: relative;

  .header-box__line {
    width: 100%;
    height: 1px;
    background-color: $top_border_color;
  }

  .header-box {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    background-color: $menu_bg;
  }

  .wc-page-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, .3);

    &.show {
      width: 100%;
      height: 100%;
      z-index: 3;
    }
  }
}

.bg-f9 {
  background-color: $bg_gray2;
}

.view-id-wristcheck_buy_news .view-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.portfolio,
.wc-news {
  .views-element-container {
    width: 100%;
  }

  .view-wristcheck-buy-news .view-content,
  .view-id-wristcheck_buy_magazine .view-content,
  .view-id-wristcheck_buy_news .view-content,
  .view-id-wristcheck_buy_popular_brands .view-content,
  .view-id-wristcheck_buy_explore .view-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .news-detail-href {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.wc-testimdnials {
  .views-element-container {
    display: flex;
  }
}

.view-id-wristcheck_testimdnials {
  .view-content {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;

    .flex-1-item {
      width: 20%;
      margin-bottom: 30px;
      div {
        .wc-testimdnials-img {
          //width:150px;
          height: 25px;
        }
      }
    }
  }
}

.wrapper {
  .contextual-region {
    position: static;
  }
}

.widget-search {
  height: 40px;
  position: relative;
}

.messages {
  color: red;
}

.md-slide-wrap {
  z-index: 0 !important;
}

.container-fluid{
  overflow: hidden;
}
/*------------------------------------*\
    #LOADING-SECTION
\*------------------------------------*/
.preloader {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 99999;
  background-color: rgba(255,255,255,.5);
  overflow: hidden;
}

.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes sk-bounce {
  0%,  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-bounce {
  0%,  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/*------------------------------------*\
    #LOADING-SECTION end
\*------------------------------------*/


@media (min-width: 1460px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1400px;
  }
}


//mobile
@media (min-width: 1900px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1800px;
  }
}

@media (max-width: 1024px) {
  .view-id-wristcheck_testimdnials .view-content .flex-1-item{
    width: 50%;
    margin-bottom: 80px;
  }
  .wc-testimdnials .pb-100{
    padding-bottom: 0;
  }
}

