@import "layout/narrow";
@import "layout/panel";

@import "wc-components/banner";
@import "wc-components/blog";
@import "wc-components/breadcrumb";
@import "wc-components/footer";
@import "wc-components/header";
@import "wc-components/menu";

@import "page/faqauthsystemsteps";
@import "page/faqsellstep";

.bg-f9 {
  background-color: $bg_gray2;
}

.portfolio,
.wc-news {
  .views-element-container {
    width: 100%;
  }
  .view-wristcheck-buy-news .view-content,
  .view-id-wristcheck_buy_magazine .view-content,
  .view-id-wristcheck_buy_news .view-content,
  .view-id-wristcheck_buy_popular_brands .view-content,
  .view-id-wristcheck_buy_explore .view-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .news-detail-href{
    display: block;
    width: 100%;
    height: 100%;
  }
}
.wc-testimdnials{
  .views-element-container{
    display: flex;
  }
}
.view-id-wristcheck_testimdnials{
  .view-content{
    display: flex;
    .flex-1-item{
      width: 100%;
    }
  }
}

.wrapper {
  .contextual-region{
    position: static;
  }
}

//mobile
@media (min-width: 1900px) {
  .container {
    max-width: 1800px;
  }
}
