{#<div class="row">
    <div class="col-md-8 col-center" data-anima="fade-bottom">
        <div class="title-base">
            <hr />
            <h2>Subscribe now</h2>
            <p>Duis aute irure dolor in reprehe in voluptate velit esse cillum dolore eu fugiat nulla pariature alterto berto malio enrico per la pasta di nona.</p>
        </div>
        <div class="simp_css">
            {% if content %}
                {{ content|render|str_replace('<form', '<form class="form-box form-ajax form-inline width-80 text-center-sm"')|raw }}
            {% endif %}
        </div>
    </div>
</div>#}
<div class='simple_css'>
    {{ content }}
</div>
