<section id="soon" class="page-soon text-center">
	<div class="container">
		<div class="row">
			{{ content['#block_content'].body.value|raw }}
			{% set date = content['#block_content'].field_date.value %}
			{% set day = content['#block_content'].field_date.value|date('d') %}
			{% set year = content['#block_content'].field_date.value|date('Y') %}
			{% set month = content['#block_content'].field_date.value|date('m') %}
			<input type="hidden" id="cms_day" value="{{ day }}">
			<input type="hidden" id="cms_month" value="{{ month }}">
			<input type="hidden" id="cms_year" value="{{ year }}">
			
			<div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
				<div id="countdown" class="countdown"></div>
			</div><!-- .col-lg-8 end -->
		</div><!-- .row end -->
	</div><!-- .container end -->
</section>