{% set count_comments = comments|length - 3 %}
{% if count_comments < 0 %}
  {% set count_comments = 0 %}
{% endif %}
{% if count_comments != 0 %}
<ul class="product-review list-unstyled">
    {{ comments }}
</ul>
{% endif %}
{% if comment_form %}
    <div class="form-review comment-css-form comment-form-body">
        {{ comment_form }}
    </div>
{% endif %}