<div class="wc-app flex-column">
  <div class="wc-header flex-row align-center">
    <div class="container flex-row align-center">
      <img src="/themes/custom/wristcheck_barrio/images/comingsoon/logo.png" alt="" class="logo wc-img-responsive">
    </div>
  </div>
  <div class="wc-body flex-1">
    <div class="container flex-column align-center">
      <div class="watch">
        <img src="/themes/custom/wristcheck_barrio/images/comingsoon/watch.png" alt="" class="wc-img-responsive" id="watch">
        <div class="watch-box">
          <div class="watch-center" id="watch-box">
            <div class="hands">
              <div class="m"></div>
              <div class="h"></div>
              <div class="s"></div>
              <span class="cricle" id="cricle"></span>
            </div>
          </div>
        </div>
      </div>
{#      <div class="input">#}
{#        <input type="text" placeholder="Register for Email update" id="email" />#}
{#      </div>#}
{#      <div class="submit flex-row justify-center align-center">#}
{#        <a href="javascript:;" id="submit">#}
{#          <img src="/themes/custom/wristcheck_barrio/images/comingsoon/arrow.png" class="arrow" />#}
{#          <span class="hr-line">|</span>#}
{#          SUBMIT#}
{#        </a>#}
{#      </div>#}
      {{ maintenance_form }}
      {{ page.highlighted }}
    </div>
  </div>
</div>
{{ attach_library('wristcheck_barrio/comingsoon-styling') }}
