.view-commerce-cart-form {
  .views-form {
    display: block;
    width: 100%;
  }
}

.order-total-line-value {
  width: auto;
}

.layout-checkout-form {
  .form-control {
    height: auto;
  }
}

.view-commerce-cart-form{
  padding-top: 100px;
  padding-bottom: 100px;
}
