.view-commerce-cart-form {
  .views-form {
    display: block;
    width: 100%;
  }
}

.order-total-line-value {
  width: auto;
}

.layout-checkout-form {
  .form-control {
    height: auto;
  }
}

.view-commerce-cart-form {
  padding-top: 100px;
  padding-bottom: 100px;
  .wc-panel {
    padding: 0;
    margin-top: -90px;
  }
  .view-content {
    .views-form {
       form {
         div {
             table {
               border-bottom: 1px solid #dee2e6;
               thead {
                 th {
                   color: black !important;
                   background-color: transparent !important;
                   border-bottom: 0;
                   border-right-color: transparent;
                   border-left-color: transparent;
                   border-top-color: #dee2e6;
                 }
               }
               tbody {
                 tr {
                   td {
                     border:0;
                   }
                 }
               }
             }
         }
       }
    }
  }
}

.cart-empty-page {
  padding: 100px 0;

  img {
    width: 350px;
  }

  p {
    font-size: 14px;
    font-style: italic;
    line-height: 23px;
    margin: 20px auto;
    font-family: 'Droid Serif', serif;
    color: #9b9b9b;
  }
}

.layout-checkout-form {
  padding: 50px;
  .link--previous {
    background-color: #FFF;
    border: 1px solid #333;
    display: inline-block;
    font-weight: normal;
    color: #333;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    margin-left: 10px;
    min-width: 100px;
  }
}

@media (max-width: 767px) {
  .layout-checkout-form{
    padding: 0;
  }
  #edit-payment-information-payment-method.radio{
    flex-direction: column;
    >div{
      margin-bottom: 20px;
    }
  }
  .order-total-line-label{
    padding-right: 20px;
  }
  #edit-shipping-information-recalculate-shipping{
    margin-bottom: 30px;
  }
  #commerce-checkout-flow-multistep-default{
    #edit-actions-next,
    #edit-sidebar-coupon-redemption-form-apply{
      width: 100%;
    }
  }
}
