.path-faq-sellstep {
   main {
    margin: 0 250px;
    .views-field-title {
      .field-content {
        > div {
          font-weight: bold;
          margin-bottom: 50px;
        }
      }
    }
    .sales_prices {
      h1 {
        margin-bottom: 30px;
      }
    }
     .faq_checkout {
       >div {
         h5 {
           text-align: center;
         }
       }
     }
     .views-field-field-wristcheck-process-steps {
      .field-content {
        .paragraph--type--wristcheck-process-steps {
          .field--name-field-process-step {
            display: flex;
            flex-wrap: wrap;
            margin-bottom:20px;
          }
        }
      }
    }
     .block-wristcheck-basic {
       .content {
         .faq_checkout {
           display: flex;
           > div {
             //margin-right: 15%;
             width:100%;
             > img {
               width:100%;
             }
           }
         }
       }
     }

     .webform-submission-faq-price-form {
         background-image: url("/themes/custom/wristcheck_barrio/images/step-1.png");
         width: 1300px;
         height: 400px;
         margin-bottom: 100px;
       .webform-elements {
         display: flex;
         position: relative;
         top: 250px;
         margin: 0 10%;
         .js-form-item-second-size {
           margin-left: 40px;
         }
         div {
           select {
             margin-right: 30px;
             background-color: #FFFBFCFC;
             text-align: center;
             text-align-last: center;
           }
         }
         .js-form-required[for="edit-first-unit"],
         .js-form-required[for="edit-second-unit"]{
           color: transparent;
         }
         fieldset {
           .form-select {
             margin-top: 4px;
           }
         }
       }
     }
  }
}

