.path-faq {
  .view-wristcheck-faq {
    .view-content {
      div {
        margin-bottom: 50px;
        margin-top: 10px;
        .views-field-body {
          .field-content {
            .card {
              .card-header {
                h2 {
                  display: flex;
                  >div {
                    span {
                      color: black;
                      font-size: 20px;
                    }
                    i {
                      border: solid black;
                      border-width: 0 2px 2px 0;
                      display: inline-block;
                      padding: 3px;
                      transform: rotate(-45deg);
                      -webkit-transform: rotate(-45deg);
                      margin-top: 25px;
                      //margin-left: 50%;
                      float: right;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}



