.path-faq-authsystem {
    .views-element-container {
      .view-wristcheck-faq {
        .view-filters {
          .views-exposed-form {
            .form-row {
              > fieldset {
                display: none;
              }
            }
          }
        }
      }
  }
  #edit-reset {
    background-color: #d0d0d0;
    border: 0;
  }
    .block-webform-block {
      margin: 0 300px;
      .webform-elements {
        display: -webkit-box;
        fieldset {
          margin-right: 30px;
        }
        #edit-actions-submit {
          position: relative;
          margin-top: 60%;
          background-color: #333;
          color: #FFFBFCFC;
          font-weight: bold;
        }
      }
    }
}
