.path-faq-authsystemstep {
  main {
    margin: 0 250px;
    .views-element-container {
      .view-wristcheck-faq {
        .view-filters {
          .views-exposed-form {
            .form-row {
              > fieldset {
                display: none;
              }
            }
          }
        }
      }
      .view-content {
        >div {
          .views-field-field-wristcheck-process-steps {
            .field-content {
              .paragraph--type--wristcheck-process-steps {
                .field--name-field-process-step {
                  display: flex;
                  flex-wrap: wrap;
                }
              }
            }
          }
        }
      }
    }
    #edit-submit-wristcheck-faq {
      background-color: #d0d0d0;
      border: 0;
    }
    .block-wristcheck-faq-checkvalue-block {
      margin-bottom: 100px;
      .content {
        .row {
          >div {
            margin-right: 100px;
          }
        }
      }
    }
    .view-display-id-faq_ad_simple_one_pic {
      margin-bottom: 100px;
      .view-content {
        .views-row {
          .views-field-title {
            .field-content {
              >div {
                   color: #333;
                   font-weight: bold;
              }
            }
          }
        }
      }
    }
    .view-display-id-faq_ad_simple_four_pic {
      margin-bottom: 100px;
      .view-content {
        .views-row {
          .views-field-title {
            .field-content {
              >div {
                color: #333;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    #block-wristcheckfaqslider {
      //padding: 0 120px;
      background-image: url("/themes/custom/wristcheck_barrio/images/watch.png");
      width: 1300px;
      //height: 400px;
      margin-bottom: 40px;
    }
    .view-display-id-faq_contact_us {
      .view-header {
        .span {
          display: flex;
        }
      }
      .view-content {
        .views-row {
          .views-field-title {
            .field-content {
              >div {
                color: #333;
                font-weight: bold;
                i {
                  border: solid black;
                  border-width: 0 2px 2px 0;
                  display: inline-block;
                  padding: 3px;
                  transform: rotate(-45deg);
                  -webkit-transform: rotate(-45deg);
                  margin-bottom: 5px;
                  margin-left: 50%;
                }
              }
            }
          }
         .views-field-body {
           display: none;
            //.field-content {
            //  >p {
            //    //display:  none;
            //  }
            //}
           margin-bottom: 50px;
          }
        }

      }
    }
  }
  //main {

    //#block-faqsystemchecked {
    //  //padding: 0 120px;
    //  margin-bottom: 100px;
    //  h2 {
    //    color: #333;
    //    font-weight: bold;
    //    font-size: 20px;
    //    margin-bottom: 70px;
    //  }
    //  .field--name-body {
    //    display: flex;
    //    flex-wrap: wrap;
    //    div {
    //      margin-right: 100px;
    //      h1 {
    //        color: #333;
    //        font-weight: bold;
    //        font-size: 13px;
    //        margin-bottom: 5px;
    //      }
    //      h5 {
    //        font-weight: normal;
    //        font-size: 5px;
    //      }
    //    }
    //  }
    //}

    //#block-createanadsimpleinstrutions {
    //  //padding: 0 120px;
    //
    //  h2 {
    //    color: #333;
    //    font-weight: bold;
    //    font-size: 20px;
    //    margin-bottom: 30px;
    //  }
    //}


    //#block-views-block-wristcheck-contact-us-block-1 {
    //  text-align: center;
    //  width: 100%;
    //  h2 {
    //    color: #333;
    //    font-weight: bold;
    //    font-size: 20px;
    //    margin-bottom: 50px;
    //    //text-align:  center;
    //  }
    //  .view-header {
    //    margin-bottom: 30px;
    //    span {
    //      display: flex;
    //      position: relative;
    //      margin-left: 35%;
    //      margin-right: 35%;
    //      h5 {
    //        margin-right: 50px;
    //      }
    //      a {
    //        color: #007bff;
    //      }
    //    }
    //  }
    //  .view-content {
    //    display: block;
    //    .views-row {
    //      .views-field-title {
    //        margin-top: 20px;
    //        margin-bottom: 40px;
    //        .field-content {
    //          span {
    //            a {
    //              color: #333;
    //              font-weight: bold;
    //            }
    //            i {
    //              border: solid black;
    //              border-width: 0 2px 2px 0;
    //              display: inline-block;
    //              padding: 3px;
    //              transform: rotate(-45deg);
    //              -webkit-transform: rotate(-45deg);
    //              margin-bottom: 5px;
    //              margin-left: 50%;
    //            }
    //          }
    //        }
    //      }
    //      .views-field-body {
    //        display: none;
    //        //text-align: left;
    //        //margin-bottom: 30px;
    //      }
    //    }
    //  }
    //}
  //}
}
