.wc-faqsystemstep {
  margin: 0 200px;

  .view-wristcheck-faq {
    .view-filters {
      //display: none;
    }
  }

  .view-wristcheck-faq {
    .view-filters {
      .views-exposed-form {
        .form-row {
          > fieldset {
            display: none;
          }
        }
      }
    }
  }

  .view-content {
    > div {
      .views-field-field-wristcheck-process-steps {
        .field-content {
          .paragraph--type--wristcheck-process-steps {
            .field--name-field-process-step {
              display: flex;
              flex-wrap: wrap;
              margin-bottom: 50px;
            }
          }
        }
      }
    }
  }

  #edit-actions {
    #edit-submit-wristcheck-faq {
      background-color: #d0d0d0;
      border: 0;
      height: 40px;
      width: 150px;
    }

    #edit-reset {
      height: 40px;
      width: 150px;
    }

    button {
      margin-right: 15px;
    }

    margin-bottom: 80px;
  }

  .block-wristcheck-faq-checkvalue-block {
    margin-bottom: 100px;

    .content {
      h1 {
        margin-bottom: 50px;
      }

      .row {
        > div {
          margin-right: 250px;
        }
      }
    }
  }

  .view-display-id-faq_ad_simple_one_pic {
    margin-bottom: 100px;
    .views-field-field-page-title-image {
      .field-content {
         img {
           width:100%;
         }
      }
    }
    .view-content {
      .views-row {
        .views-field-title {
          .field-content {
            > div {
              color: #333;
              font-weight: bold;
              font-size: 25px;
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }

  .view-display-id-faq_ad_simple_four_pic {
    margin-bottom: 100px;

    .view-content {
      display: flex;
      flex-wrap: wrap;

      .views-row {
        //margin-right: 10px;

        .views-field-field-image {
          margin-bottom: 30px;
        }

        .views-field-title {
          .field-content {
            > div {
              color: #333;
              font-weight: bold;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .ad_four {
    h1 {
      margin-bottom: 30px;
    }
  }

  #block-wristcheckfaqslider {
    //padding: 0 120px;
    background-image: url("/themes/custom/wristcheck_barrio/images/watch.png");
    width: 1300px;
    //height: 400px;
    margin-bottom: 40px;
  }
}

.wc-faq-checkout {
  img {
    width: 100%;
  }
}


.wc-faq {
  padding: 20px;
  margin: 0 20%;

  .wc-faq__title {
    font-size: 30px;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: rgba(34, 34, 34, 1);
    margin-bottom: 50px;
  }

  .wc-faq__item {
    border-bottom: 1px solid rgb(228 228 228);
  }

  .wc-faq__item__titile {
    font-size: 24px;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: rgba(34, 34, 34, 1);
    margin-bottom: 30px;
  }

  p {
    font-size: 16px;
    font-family: Myriad Pro;
    font-weight: 400;
    color: rgba(72, 72, 72, 1);
  }

  a {
    font-size: 16px;
    font-family: Myriad Pro;
    font-weight: 400;
    color: rgba(24, 108, 164, 1);
  }

  .wc-faq__item__body {
    //display: none;
  }
}

.wc-step {
  .wc-step-body {
    .wc-step-body__title {
      font-weight: bold;
      margin-bottom: 50px;
    }
    .wc-step-body__img {
      .field__item {
        //width: 25%;
        margin-right: 55px;
      }
    }
  }
}
.wc-ad-four {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.wc-faq-ad {
  .wc-faq-ad-body {
    .wc-faq-ad__img {
      width: 100%;
      img {
        width: 95%;
      }

      margin-bottom: 30px;
    }

    .wc-faq-ad__title {
      text-align: center;
      position: relative;
    }
  }
}
