    .wc-panel {
      margin-bottom: 100px;
      margin-right: 21%;
      margin-left: 21%;
      .wc-panel-faq__title {
        //margin-bottom: 100px;
      }
    }

    .view-wristcheck-faq {
      .view-filters {
        display: none;
      }
    }

