
.wc-v2-panel {
  padding: 70px 0;

  .wc-v2-panel__title {
    font-size: 18px;

    color: #000000;
    margin-bottom: 70px;
  }

  .wc-v2-how_it_works__item {
    padding: 30px;
    display: flex;
    flex-direction: row;
  }

  .how_it_works__icon {
    img {
      display: inline-block;
      width: auto;
      height: 50px;
    }

    margin-right: 20px;
  }

  .how_it_works__cont {
    flex: 1;
  }

  .how_it_works__title {
    font-size: 12px;
    font-weight: 700;
    font-family: "basis-grotesque-bold-pro";
    color: #000000;
    line-height: 21px;
    margin-bottom: 5px;
  }

  .how_it_works__detail {
    font-size: 14px;
    font-weight: 300;
    color: #000000;
    line-height: 18px;
    height: 36px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .how_it_works__link {
    span {
      font-size: 12px;

      color: #000000;
      padding: 2px 0;
      border-bottom: 1px solid #000;
    }
  }

  //.wc-v2-panel__more {
  //
  //}

  .wc-v2-panel__more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 60px;
    margin: 0 auto;
  }
}

.block-wristcheck-sign-up-for-news-block {
  //background-color: #000000;
  background-color: #F0EFEE;
  width: 100%;
}

.view-display-id-best_sellers {
  .swiper-container {
    width: 100%;
    height: auto;
    padding: 30px 0 80px 0;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-wrapper {
    list-style: none;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    height: 360px;
    overflow: hidden;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    transition-property: all;
  }
}

.wc-sign-up {
  padding: 100px 0;
  width: 100%;

  .wc-sign-up__box {
    width: 40%;
    margin-bottom: 30px;
  }

  .wc-sign-up__title {
    font-size: 12px;
    font-weight: 700;
    //color: #E2E1D9;
    color: #333;
    font-family: "basis-grotesque-bold-pro";
    line-height: 21px;
    margin-bottom: 5px
  }

  .wc-sign-up__sub {
    font-size: 14px;

    //color: #E2E1D9;
    color: #333;
    line-height: 18px;
  }

  .wc-sign-up__input {
    display: inline-block;
    width: 300px;
    height: 45px;
    color: #FFF;
    border: 1px solid #E2E1D9;
    background-color: transparent;
    padding: 5px 10px;
    box-sizing: border-box;
    line-height: 35px;
    margin-right: 5px;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &::placeholder {
      color: #E2E1D9;
    }
  }

  .wc-sign-up__btn {
    width: 126px;
    height: 45px;
    border: 1px solid #E2E1D9;
    background-color: transparent;
    color: #FFF;
    transition: all .25s ease;

    &:hover {
      background-color: #FFF;
      color: #333;
    }
  }
}

.wc-shop-by-brand__box {
  .wc-shop-by-brand__item {
    list-style: none;
    padding: 0;
  }

  .wc-shop-by-brand__img {
    margin-bottom: 50px;
    .brand-title{
      font-size: 20px;
      text-align: center;
      padding: 20px;
    }
  }

  .wc-homepage-brand-logo {
    width: 348px;
    height: 439px;
    background-color: #D8D8D8;
    position: relative;
    display: block;
    overflow: hidden;
    -webkit-background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
  }
}

.view-wristcheck-buy-magazine {
  .view-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
}

.wc-from-the-journal {
  .wc-from-the-journal-img {
    height: 320px;
    background-color: #D8D8D8;
  }

  .wc-rolex-modal {
    padding: 20px 0
  }

  .wc-rolex-sub {
    font-size: 14px;

    color: #000000;
    line-height: 21px;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .wc-rolex-title {
    font-size: 34px;
    line-height: 48px;
    margin-bottom: 5px;

    color: #000000;
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .wc-rolex-title__sub {
    font-size: 30px;
    line-height: 38px;

    color: #000000;
    font-weight: 300;
    height: 80px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  .wc-rolex-action h3 {
    margin: 0;
    font-size: 14px;
    height: 45px;
    line-height: 45px;

    color: #000000;
  }
}

.view-display-id-from_the_journal {
  .view-footer {
    padding-top: 30px;
  }
}

.wristcheck_sign_up_for_news_block {
  label[for="edit-email"] {
    display: none;
  }

  .form-email {
    display: inline-block;
    width: 300px;
    height: 55px;
    color: #FFF;
    border: 1px solid #E2E1D9;
    //background-color: transparent;
    background-color: white;
    padding: 5px 10px;
    box-sizing: border-box;
    line-height: 35px;
    margin-right: 5px;


    &:focus {
      outline: none;
      box-shadow: none;
    }

    &::placeholder {
      color: #E2E1D9;
    }
  }

  .webform-elements {
    display: inline-block;

    .form-type-email {
      display: inline-block;
    }
  }

  .form-actions {
    display: inline-block;
    vertical-align: top;
  }

  .webform-button--submit {
    display: inline-block;
    width: 126px;
    height: 55px;
    border: 1px solid #E2E1D9;
    //background-color: transparent;
    background-color: #5599AA;
    color: #FFF;
    transition: all .25s ease;

    &:hover {
      background-color: #FFF;
      color: #333;
    }
  }
}
.best_sellers-swiper{
  .best_sellers-next,
  .best_sellers-prev{
    top: 40%;
    &:hover,
    &:focus,
    &:active{
      outline: none;
      box-shadow: none;
    }
  }
}

@media (max-width: 1200px) {
  .wc-shop-by-brand__box .wc-homepage-brand-logo {
    width: 100%;
  }
}

@media (max-width: 960px) {
  .wc-shop-by-brand__box .wc-homepage-brand-logo {
    width: 100%;
    height: 300px;
  }
  .wc-shop-by-brand__box .wc-shop-by-brand__img {
    margin-bottom: 50px;
  }
  .view-display-id-best_sellers .swiper-slide {
    height: 200px;
  }
  .wc-sign-up .wc-sign-up__box {
    width: 60%;
  }
  .wc-v2-panel .wc-v2-how_it_works__item {
    padding: 30px 10px;
  }
}

@media (max-width: 500px) {
  .wc-sign-up .wc-sign-up__box {
    width: 80%;
    margin: auto;
  }
  .wristcheck_sign_up_for_news_block {
    text-align: center;
    padding: 30px 0;

    .form-actions,
    .form-email {
      width: 80%;
      margin: 0 auto;
    }

    .webform-button--submit {
      width: 100%;
      background: #FFF;
      color: #333;
    }
  }
}
