.path-wristcheck-magazine {
  .views-field-field-page-title-image {
    margin-bottom: 50px;
    img {
      width: 100%;
    }
  }
  .container {
    max-width: none !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    .views-row {
      .views-field-title {
        text-align: center;
        text-decoration: underline;
        margin-bottom: 25px;
        font-weight: bold;
      }
      .views-field-body {
        text-align: center;
        margin-bottom: 25px;
        .field-content {
          p {
            color: #333;
          }
        }
      }
      .views-field-uid {
        text-align: center;
        margin-bottom: 50px;
        font-size: 10px;
      }
    }
  }


  #block-views-block-wristcheck-latest-articles-block-1 {
    width: 100%;
    >h2 {
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .view-wristcheck-latest-articles {
      margin:0 6%;
      .view-content {
        display: flex;
        flex-wrap: wrap;
        .views-row {
          padding: 0 30px;
          width: 50%;
          .views-field-title {
            .field-content {
              text-align: left;
              h4 {
                color: #999999;
                font-size: 15px;
                //text-decoration: none !important;
                margin-bottom: 10px;
              }
              h2 {
                color: #333;
                font-weight: bold;
                margin-bottom: 25px;
                //text-decoration: underline;
                padding-bottom: 5px;
                border-bottom: 1px solid #333;
              }
            }
          }
          .views-field-field-latest-img {
            .field-content {
              img {
                width: 100%;
              }
            }
          }
          .views-field-uid {
            text-align: left;
            margin-bottom: 25px;
            font-size: 15px;
            padding:0;
            .field-content {
              color: #999999;
            }
          }
        }
      }
    }
  }
  #block-views-block-wristcheck-further-articles-block-1 {
    >h2 {
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .view-wristcheck-further-articles {
      .view-content {
        display: flex;
        padding: 0 130px;
        //flex-wrap: wrap;
        .views-row {
          display: grid;
          padding: 0 20px;
          width: 40%;
          .views-field-field-image {
             margin-bottom: 25px;
          }
          .views-field-field-tags {
            margin-bottom: 10px;
          }
          .views-field-title {
            font-weight: bold;
            color: #333;
            margin-bottom: 50px;
          }
        }
      }
    }
  }
  #block-views-block-wristcheck-buyer-guide-block-1 {
    >h2 {
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .view-wristcheck-buyer-guide {
      position: relative;
      .view-content {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding: 0 150px;
        .views-row {
          position: relative;
          display: flex;
          width: 40%;
          padding-bottom: 50px;
          margin-right: 10%;
          .views-field-field-image {
            position: relative;
          }
          .views-field-title {
            position: relative;
            font-weight: bold;
            color: #333;
            //margin-bottom: 50px;
            margin-left: 50px;
            margin-top: 20px;
          }
          .views-field-field-tags {
            position: relative;
            margin-top: 23%;
            margin-left: -50px;
          }
        }
      }
    }
  }
}


