.magazine-home {
  padding-right: 0 !important;
  padding-left: 0 !important;
  max-width: 100% !important;

  .wc-magazine {
    .wc-buy-product-privew__img {
      margin-bottom: 20px;
    }
  }
}

.wc-further-title,
.wc-latest-title,
.wc-further-title-3,
.wc-buygui-title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 70px;
}
.view-display-id-magazine_dropdown,
.view-display-id-latest_articles {

  .view-content {
    flex-wrap: wrap;
    display: flex;

    .wc-latest-art {
      margin-bottom: 30px;

      img {
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
        //width: 600px;
        //height: 300px;
      }

      .wc-rolex-modal {
        margin-top: 20px;

        .wc-rolex-action {
          .wc-rolex-sub {
            font-size: 14px;

            font-weight: 400;
            color: #9A9A9A;
            margin-bottom: 10px;
          }

          .wc-rolex-title {
            border-bottom: 1px solid #333;
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: bold;
            width: 100%;
            span{
              padding-bottom: 4px;
              display: block;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          }

          h3 {
            font-size: 14px;

            font-weight: 400;
            color: #9A9A9A;
          }
        }
      }
    }
  }
}

.view-display-id-further_articles {
  //margin-right:  8%;
  //margin-left:  8%;
  margin-bottom: 80px;

  .view-content {
    display: flex;
    flex-wrap: wrap;

    > div {
      max-width: 25% !important;
    }
  }

  .wc-further-art {
    .img {
      width: 100%;
      height: 400px;
      margin-bottom: 25px;
      background-color: #D8D8D8;
    }

    img {
      //width: 320px;
      width: 100%;
      height: 400px;
      margin-bottom: 25px;
    }

    .wc-rolex-modal {
      .wc-rolex-action {
        .wc-rolex-sub {
          color: grey;
        }

        .wc-rolex-title {
          font-weight: bold;
          font-size: 18px;
        }
      }
    }
  }
}

.view-display-id-buy_guide {
  //margin-right:  10%;
  //margin-left:  10%;
  margin-bottom: 80px;

  .view-content {
    display: flex;
    flex-wrap: wrap;

    > div {
      //max-width: 60%!important;
      margin-bottom: 40px;
    }
  }

  .wc-buygui-art {
    display: flex;

    .img {
      flex: 0 0 210px;
      width: 210px;
      height: 130px;
      margin-right: 30px;
      background-color: #D8D8D8;
    }

    img {
      width: 400px;
      margin-right: 50px;
    }

    .wc-rolex-modal {
      .wc-rolex-action {
        .wc-rolex-title {
          margin-bottom: 70px;
          font-size: 20px;
        }

        .wc-rolex-sub {
          color: grey;
        }
      }
    }
  }
}

.view-display-id-further_articles_3 {
  .view-content {
    display: flex;
    flex-wrap: wrap;

    > div {

    }
  }

  .wc-further-three-art {
    .wc-rolex-modal {
      img {
        width: 100%;
        height: 500px;
      }

      .wc-rolex-action {
        position: absolute;
        margin-top: -80px;
        padding: 0 10px;

        .wc-rolex-title {
          font-size: 18px;
        }
      }
    }
  }
}

//.wc-buy-product-privew__img {
//  margin-bottom: 40px;

.wc-magazine-privew__img {
  width: 100%;
}

//}

.wc-magazine-body {
  margin-bottom: 50px;

  .wc-magazine__title {
    text-align: center;
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
  }

  .wc-magazine__describe {
    text-align: center;
    margin-bottom: 30px;
  }

  .wc-magazine-owner {
    text-align: center;
    color: gray;

    .wc-magazine__cate {
      padding-right: 50px;
    }
  }
}

@media (max-width: 1024px){
  .view-display-id-further_articles .view-content > div{
    max-width: 50% !important;
  }
}

@media (max-width: 640px){
  .view-display-id-further_articles .view-content > div{
    max-width: 100% !important;
  }
}

.wc-relate-product-article {
  .view-wristcheck-products  {
    .item-list > ul > li {
      width: 25%;
    }
  }
  .portfolio-sub-detail {
    text-align: center;
    padding-top: 10px;
    .wc-product-category {
      font-weight: bold;
    }
    .price__number {
      font-weight: bold;
    }
  }
}
.wc-article-comment {
  display: flex;
  .wc-panel__title {
    padding: 0;
  }
  .wc-panel__subtitle {
    padding-bottom: 50px;
    .wc-article-lgin,
    .wc-article-lgreg{
      color: $mongreen;
    }
  }
}

.wc-overy-comment {
  //border-bottom: 1px solid;
  //border-color: #979797;
  //opacity: 0.2;
  .wc-comment-cont {
    padding-left: 30px;
  }
}
.wc-article-hotflag {
  .wc-rolex-title {
     font-size: 21px;
  }
  .view-wristcheck-buy-magazine {
    .view-content {
      margin: 0 ;
    }
    .item-list {
      width: 100%;
      ul > li {
        padding-bottom: 20px;
        >a  {
          .wc-ex-panel {
            height: 200px;
          }
          .wc-art-hotflag {
            padding-top: 8px;
          }
        }
      }
    }
  }
}

.wc-rolex-modal {
  padding-top: 10px;
}

.wc-mag-readmore {
 .wc-ex-panel {
   height: 200px;
 }
}

.view-wristcheck-buy-magazine {
  .views-row {
    padding: 10px ;
    .wc-magazine-top {
      padding: 10px ;
    }
  }
  .wc-latest-art  {
    .wc-ex-panel {
      height: 240px;
    }
    .wc-rolex-modal {
      padding-bottom: 10px;
    }
  }
}

.wc-discover-home {
  .wc-magazine {
    .wc-magazine-body {
      .wc-magazine__title {
        border-bottom: 0;
      }
    }
  }
}

.wc-discover-home-flag {
 .wc-ex-panel {
   height:240px;
 }
}
.wc-laces-block {
  img {
    width: 100%;
  }
}
.wc-discover-panel {
  .view-content {
    .views-infinite-scroll-content-wrapper {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.wc-magazine-single {
  //display: flex;
  .wc-magazine-body {
    margin-top: 150px;
    position: relative;
    .wc-magazine__title {
      border-bottom: 0;
    }
  }
}

.wc-mag-two-load {
  .wc-rolex-item .wc-rolex-img {
    padding-top:30%;
  }
}

