#views-exposed-form-wristcheck-buy-magazine-magazine-dropdown{
    padding: 100px 20px;
    .form-row{
        justify-content: center;
    }
    .form-group{
        label {
            display: none;
        }
    }
    #edit-tid{
        height: 53px;
        margin: 0;
        padding: 10px 40px 10px 20px;
        background-position-x: 97%;
    }
}
.view-display-id-magazine_dropdown{
    padding-bottom: 100px;
}