.wc-payment {
  padding: 20px;
  .wc-payment__title {
    font-size: 30px;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: rgba(34, 34, 34, 1);
    margin-bottom: 50px;
  }

  .wc-payment__item {
    padding: 20px 0;
    border-bottom: 1px solid rgba(223, 223, 223, 0.24);
    background: url("/themes/custom/wristcheck_barrio/images/icons/arrow-right.png") no-repeat;
    background-size: 8px auto;
    background-position: 100% 40%;
  }

  .wc-payment__item__titile {
    font-size: 24px;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: rgba(34, 34, 34, 1);
    margin-bottom: 30px;
  }

  p {
    font-size: 16px;
    font-family: Myriad Pro;
    font-weight: 400;
    color: rgba(72, 72, 72, 1);
  }

  a {
    font-size: 16px;
    font-family: Myriad Pro;
    font-weight: 400;
    color: rgba(24, 108, 164, 1);
  }
}
