.wc-user-info {
  .wc-user-info__title {
    font-size: 30px;
     
    font-weight: bold;
    color: #222222;
    margin-bottom: 60px;
  }

  .wc-protfolio-empty-box {
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;

    .wc-protfolio-empty-box__font1 {
      font-size: 24px;
       
      font-weight: 400;
      color: #222222;
      margin-bottom: 40px
    }

    .wc-protfolio-empty-box__font2 {

      font-size: 24px;
       
      font-weight: bold;
      color: #222222;
      margin-bottom: 80px
    }

    .wc-protfolio-empty-box__btn {
      display: inline-block;
      width: 300px;
      height:50px;
    }

  }
}
.wc-protfolio__price {
  color:#222330;
}
.wc-protfolio_sold {
  border: 1px solid !important;
  font-weight: bold !important;
  position: relative;
  top: -10px;
}
.wc-protfolio-product__link {
  color:#003cc5;
}
.wc-protfolio-product__title {
  font-size: 24px;
   
  font-weight: bold;
  color: #222222;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 20px;
  line-height: 1.5;
  >span {
    padding: 0 !important;
  }
  >a {
    position: relative;
    padding: 0 300px;
  }
}
.wc-panel-protfolio {
  display: flex;
  padding: 50px 0;
  .wc-protfolio__total {
    padding-right: 450px;
    font-weight: bold;
  }
  .wc-product-introduction {
    .wc-product-btn {
      top: -25px;
      .wc-product-add-wishlist {
        background-color: #333 !important;
        color: white;
        >span {
          color: white;
        }
      }
    }
  }
}

.portfolio .portfolio-sub-detail{
  height: 120px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 5%;
    color: rgba(0,0,0,.9);
  .wc-product-category{
    font-weight: 700;
  }
  .wc-product-series{
  }
  .price__number{
    margin-top: 8px;
    font-weight: 700;
  }

}