// jcarousel
@import '../variables/color';

.wc-product-imglist1 {
  .wc-product-slick-item {
    width: 100%;
    height: 500px;
    overflow: hidden;
  }

  .field-content {
    display: flex;
    justify-content: center;
  }
}

.wc-product-imglist2 {
  .field-content {
    display: flex;
    justify-content: center;
  }
}

.custom-switch {
  padding-top: 10px;
  padding-bottom: 10px;
}

.path-product {
  .wc-product-imglist2 {
    margin-top: 30px;
  }

  .view-wristcheck-product-jcarousel {
    .slick-slider {
      width: 80%;
      margin: 0 10%;

      .slick-list {
        overflow-x: auto;
      }
    }
  }
}

//.view-wristcheck-product-jcarousel {
//  .skin-default {
//    padding: 30px 25px;
//    width: 100%;
//  }
//
//  .views_slideshow_cycle_main {
//    position: relative;
//    padding-top: 73%;
//    background-color: $bg_gray;
//    margin-bottom: 60px;
//
//    .views_slideshow_cycle_teaser_section {
//      position: absolute;
//      top: 50%;
//      left: 50%;
//      transform: translate(-50%, -50%);
//    }
//  }
//
//  .views_slideshow_cycle_teaser_section {
//    margin: 0 auto;
//  }
//
//  .views-slideshow-controls-bottom {
//    width: 100%;
//    overflow-x: auto;
//
//    .widget_pager_bottom:after {
//      display: table;
//      clear: both;
//      content: "";
//    }
//
//    .widget_pager_bottom {
//      width: 1000px;
//    }
//
//    .views_slideshow_pager_field_item {
//      float: left;
//      width: 210px;
//      height: 210px;
//      margin-right: 28px;
//      background-color: $bg_gray;
//      display: flex;
//      justify-items: center;
//      align-items: center;
//
//      .views-field-field-model-images {
//        margin: 0 auto;
//      }
//    }
//  }
//}

// introduction
.wc-product-introduction {
  width: 100%;

  a {
    text-decoration: none;
  }

  .wc-product-title {
    font-size: 30px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: $color-dark2;
    padding-top: 20px;

    &.bold {
      font-size: 30px;
      font-family: Source Han Sans CN;
      font-weight: bold;
      color: $color-dark2;
      padding: 0;
    }
  }

  .wc-product--row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  .wc-product-wishlist {
    a {
      text-decoration: none;
      font-size: 18px;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: $color-dark2;

      span {
        color: $color-dark2;
        font-size: 30px;

        &.fa-heart {
          color: $color-dark2;
        }

        &.fa-heart:before {
          content: "\f08a" !important;
        }

        &.fa-heart-o {
          color: #FF6464;
        }

        &.fa-heart-o:before {
          content: "\f004" !important;
        }
      }
    }
  }

  .wc-product-num {
    padding-bottom: 28px;

    .field--name-field-ref-number {
      display: flex;
      flex-direction: row;
      font-size: 16px;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: $color-dark2;

      > div {
        margin-right: 10px;
      }
    }
  }

  .wc-product-btn {
    margin-bottom: 30px;
    position: relative;
  }

  .wc-product-variations {
    position: absolute;
    left: 0;
    top: 100%;
    opacity: 0;
    width: 100%;
    transition: all .25s ease;
    transform: scaleY(0);
    transform-origin: 0 0;
    background-color: #FFF;
    box-shadow: 0 0 1px 3px rgba(0, 0, 0, .1);
    padding: 20px;
    margin-top: 10px;

    &.show {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  .wc-product-add-wishlist {
    display: inline-block;
    width: 220px;
    height: 50px;
    border: 1px solid $color-dark2;
    color: $color-dark2;
    text-align: center;
    line-height: 50px;
    font-size: 14px;

    span {
      color: $color-dark2;
      font-size: 12px;
    }
  }

  .wc-product-content {
    font-size: 14px;
    height: 150px;
    overflow: hidden;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: $color-dark2;
    line-height: 24px;
    margin-bottom: 40px;

    p {
      margin: 0;
    }
  }

  .wc-product-buy-new,
  .wc-product-buy {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: relative;

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 20px;
      color: #FFF;
      font-size: 14px;
      background-color: $color-dark2;

    }

    .wc-product-buy-used-popup {
      transition: all .3s ease-in-out;
      max-height: 500px;
      transform-origin: top center;
      transform: scaleY(0);
      opacity: 0;
      position: absolute;
      top: 100%;
      right: 0;
      width: 570px;
      background: #FFFFFF;
      box-shadow: 0px 3px 15px 1px rgba(102, 102, 102, 0.08);
      padding: 40px;
    }

    &:hover {
      .wc-product-buy-used-popup {
        transform: scaleY(1);
        opacity: 1;
      }
    }

  }

  .wc-product-buy-used-popup {
    .item-list ul li {
      padding: 0;

      a {
        background-color: transparent;
      }
    }

    .more-link {
      margin-top: 20px;
    }

    .wc-used-img {
      width: 80px;
      height: 80px;
      overflow: hidden;
      margin-right: 30px;
      background-color: #f0efee;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    .wc-used-cont {
      flex: 1;

      .wc-used-cont__title {
        font-size: 16px;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #222222;
        line-height: 1.5;
        margin-bottom: 10px;
      }

      .wc-used-cont__code {
        font-size: 16px;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #222222;
        line-height: 1.5;
        margin-bottom: 10px;
      }

      .wc-used-cont__num {
        font-size: 14px;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #666666;
      }

      .wc-used-cont__price {
        font-size: 24px;
        font-family: Source Han Sans CN;
        font-weight: bold;
        color: #222222;
      }
    }
  }

  .wc-product-buy {
    a {
      margin: 0 0 0 auto;
    }
  }
}

.wc-shield {
  text-align: right;
  margin-top: 60px;

  img {
    max-width: 570px;
  }
}

.wc-product-body {
  font-size: 14px;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: $color-dark2;
  line-height: 24px;
  padding-top: 60px;
  padding-bottom: 60px;

  .field--name-body .field__label {
    font-size: 24px;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: $color-dark2;
    padding-bottom: 60px;
  }
}


.wc-product-specifications {
  margin-bottom: 50px;

  h3 {
    text-align: center;
  }

  .field__label {
    text-align: center;
    font-size: 30px;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: $color-dark2;
    line-height: 53px;
  }

  .field--name-field-specifications > .field__label {
    padding-bottom: 50px;
  }

  .field--name-field-specifications > .field__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-right: 100px;
    margin-left: 100px;

    > .field__item {
      flex: 0 1 100px;
      border-right: 1px solid #C8C6C6;
      padding: 0 30px;
      margin-bottom: 10px;

      &:last-child {
        border-right: 1px solid transparent;
      }

      .field--name-field-icon {
        float: left;
        margin-right: 20px;

        img {
          display: inline-block;
          width: 40px;
          height: auto;
        }
      }

      .field--name-field-title {
        font-size: 24px;
        font-family: Source Han Sans CN;
        font-weight: bold;
        color: $color-dark2;
        padding-bottom: 20px;
      }

      .field--name-field-description {
        font-size: 18px;
        font-family: Source Han Sans CN;
        font-weight: 500;
        color: $color-dark2;
      }
    }
  }

  .paragraph:after {
    display: table;
    clear: both;
    content: "";
  }
}


//.wc-related-model {
//  margin-right:  100px;
//  margin-left:  100px;
//  margin-bottom: 100px;
//  h3 {
//    margin-right: 150px;
//    margin-bottom: 100px;
//    text-align: center;
//  }
//  .views-field-field-model-images {
//    margin-bottom: 30px;
//  }
//  .views-field-field-brand {
//    margin: 0 100px;
//  }
//}
//
//.field--type-commerce-price {
//  .field__label {
//    display: none;
//  }
//}
.wc-product-buy-new {
  .field--name-price {
    .field__label {
      display: none;
    }
  }
}

#swt {
  display: none;
}


.etalage {
  direction: ltr;
}

.etalage, .etalage_thumb, .etalage_thumb_image, .etalage_big_image, .etalage_zoom_preview, .etalage_icon, .etalage_hint {
  display: none
}

.etalage .etalage_thumb {
  background: #fff url('/themes/custom/wristcheck_barrio/images/icons/loading.gif') center no-repeat;
}

.etalage, .etalage ul, .etalage li, .etalage img, .etalage_hint, .etalage_icon, .etalage_description {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none
}

.etalage, .etalage_magnifier div, .etalage_magnifier div img, .etalage_small_thumbs ul, ul .etalage_small_thumbs li, .etalage_zoom_area div, .etalage_zoom_img {
  position: relative
}

.etalage img, .etalage li {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  user-drag: none
}

.etalage, .etalage_small_thumbs li {
  float: none;

  background-color: #FFF;
}

.etalage .etalage_small_thumbs > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 210px;

  > li {
    width: 30%;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }


}

.etalage_right {
  float: right
}

.etalage li {
  position: absolute
}

.etalage img {
  vertical-align: bottom;
}

.etalage .etalage_zoom_area, .etalage_zoom_area {
  background: #fff url('/themes/custom/wristcheck_barrio/images/icons/loading.gif') center no-repeat;
  border: 1px solid #ddd;
  padding: 2px;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
  display: none;
  z-index: 20;
}

.etalage_zoom_area div {
  overflow: hidden;
}

.etalage_zoom_area .etalage_zoom_img {
  position: absolute;
}

.etalage_wrap {
  width: 600px;
  margin: 0 auto;
}

.etalage_wrap .etalage_magnifier {
  background: #fff;
  outline: #bbb solid 1px;
  display: none;
  cursor: move;
}

.etalage_magnifier div {
  overflow: hidden;
}

.etalage_wrap .etalage_small_thumbs {
  overflow: hidden;
  margin-top: 20px;
}

.etalage_wrap .etalage_small_thumbs li {
  border: 1px solid #FFF;
  margin: 0px 10px 0px 0px;
  position: relative;
}

.etalage_wrap ul li.etalage_smallthumb_active {
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
  border: 1px solid #535353;
}

.field--name-field-watch-params {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;

  .wc-product-ol {
    ul {
      list-style: none;
      padding: 0;

      li {
        font-size: 18px;
        font-family: Source Han Sans CN;
        font-weight: 500;
        color: #222222;
        padding: 10px 0;
      }
    }
  }


  .wc-product-introduction__title {
    border-bottom: 1px solid #DFDFDF;
    margin-bottom: 10px;

    span {
      padding: 20px 0;
      display: inline-block;
    }
  }

  .wc-product-introduction__key {
    font-size: 18px;
    font-family: Source Han Sans CN;
    font-weight: 500;
    color: #222222;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
  }

  .wc-product-introduction__value {
    font-size: 14px;
    font-family: Source Han Sans CN;
    font-weight: 300;
    color: #222222;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
  }

  h4 {
    font-size: 24px;
    font-family: Source Han Sans CN;
    font-weight: bold;
    color: #222222;
  }
}

.view-display-id-product_others {
  .more-link > a {
    font-size: 14px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #176BA4;
  }
}

.wc-display-label .field__label {
  display: none;
}


.wc-shield-box {
  padding: 30px;
  border: 1px dashed #333;
  color: #333;
  display: flex;
  flex-direction: row;
  width: 65%;

  .wc-shield-box__left {
    flex: 1;
  }

  .wc-shield-box__right {
    width: 150px;

    img {
      display: block;
      margin-left: 20px;
    }
  }

  h1 {
    font-size: 30px;
    line-height: 1.5;
    text-align: left;
  }

  .wc-shield-box__item {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
    text-align: left;
  }

  .wc-shield-box__item-img {
    float: left;
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 20px;

    img {
      display: block;
      width: 22px;
      height: auto;
    }

  }
}

@media (max-width: 768px) {
  .wc-product-specifications .field--name-field-specifications > .field__items {
    margin-left: 0;
    margin-right: 0;
  }
}
