.path-sellperson {
  main {
    .wc-panel {
      margin: 0 7%;

      .text-center {
        button {
          width: 50%;
        }
      }

        .direction {
          //margin-left: 7%;
          h5 {
            i {
              margin-right: 10px;
              font-size: 30px;
            }
          }
        }

        .person_img {
          margin-bottom: 50px;
        }

        .person_info {
          margin-bottom: 50px;
          h1 {
            margin-bottom: 20px;
          }
          .birth {
            display: grid;
            input {
              border: transparent;
              color: #495057;
              background-color: #fff;
              width: 100%;
              height: calc(1.5em + 0.75rem + 2px);
            }
          }
        }

        .address_info {
          margin-bottom: 50px;
          h1 {
            margin-bottom: 20px;
          }
        }

    }
  }
}
