.wc-userinfo-card {
  padding: 30px;
  border: 2px solid $bg_gray0;

  .wc-userinfo-padding {
    padding: 30px 70px;
  }

  .title, h1 {
    font-size: 30px;
     
    font-weight: bold;
    color: rgba(34, 34, 34, 1);
  }

  .sub_title, h2 {
    font-size: 24px;
     
    font-weight: bold;
    color: rgba(34, 34, 34, 1);
  }

  .p {
    font-size: 16px;
    font-family: Myriad Pro;
    font-weight: 400;
    color: rgba(71, 71, 71, 1);
  }

  .pp {
    font-size: 18px;
     
    font-weight: 400;
    color: rgba(97, 97, 97, 1);
  }

  .ppp {
    font-size: 24px;
     
    font-weight: bold;
    color: rgba(34, 34, 34, 1);
  }

  .bold {
    font-weight: 600;
  }

  .wc-userinfo-list_p {
    padding: 16px 16px 16px 30px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 20px;
      left: 0;
      width: 16px;
      height: 16px;
      border: 1px solid $color-dark3;
    }

    &::after {
      position: absolute;
      top: 16px;
      left: 1px;
      width: 16px;
      height: 16px;
      content: "";
      transition: none;
      transform: none;
      display: none;
    }
  }

  input:checked ~ .wc-userinfo-list_p::after {
    content: "\2713";
    display: block;
    // background: no-repeat 50% / 100% 100%;
    // background-image: url("/themes/custom/wristcheck_barrio/images/icons/checked.png");
  }

  .wc-userinfo-list_num {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .list_num {
      font-size: 50px;
      font-style: italic;
      font-weight: 600;
      margin-right: 25px;
    }
  }

  .wc-userinfo-photo {
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 25px;

    img {
      display: inline-block;
      width: 100%;
      height: auto;
    }
  }

  .wc-userinfo-item {
    margin-bottom: 30px;
    font-size: 16px;
     
    font-weight: 500;
    color: rgba(97, 97, 97, 1);

    label {
      font-weight: 400;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .wc-userinfo-flag {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    overflow: hidden;
    border-radius: 50%;

    img {
      display: inline-block;
      width: 100%;
      height: auto;
    }
  }
}

.wc-userinfo__body {
  //margin-top: 30px;
  .wc-userinfo-list {
    margin-top: 40px;

    .wc-user-checkbox {
      display: none;
    }
  }

  .cart-icon {
    display: inline-block;
    width: 16px;
  }

  .wc-userinfo-list__item {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
  }

  .wc-userinfo-list__item-img {
    width: 180px;
    height: 130px;
    overflow: hidden;
    background-color: $bg_gray;
  }

  .wc-userinfo-list__item-cont {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    justify-content: space-between;

    p {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      &:last-child {
        margin: 0;
      }
    }
  }

}

.actions {
  .action-link {
    font-size: 18px;
     
    font-weight: 400;
    color: rgba(23, 107, 164, 1);
    cursor: pointer;
  }
}

.wc-userinfo__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

/* 普通用户后台样式*/
form.user-form {
  padding: 30px 20px;
  background-color: #FFF;

  .form-control {
    height: auto;
  }

  .tabledrag-toggle-weight,
  .link-edit-summary {
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    color: #fff;
    background-color: #333;
    border-color: #333;
  }

  .tabledrag-toggle-weight-wrapper {
    padding-bottom: 10px;
  }
}

/* 普通用户后台样式 end*/
@media (max-width: 1025px) {
  .wc-userinfo-card .wc-userinfo-padding {
    padding: 0;
  }
  .wc-userinfo-card .title, .wc-userinfo-card h1 {
    font-size: 24px;
  }
  .wc-userinfo-card .sub_title, .wc-userinfo-card h2 {
    font-size: 18px;
  }
  .wc-userinfo-card .wc-userinfo-left {
    flex-direction: column !important;

    .wc-userinfo-photo {
      margin: 0 auto 30px;
    }

    .wc-userinfo-info {
      align-items: center;
    }
  }
  .wc-buy-product-item .wc-buy-product-privew__img {
    width: 100% !important;
  }
  .wc-buy-product-item .wc-buy-product-body {
    display: none !important;
  }
  .wc-userinfo__header {
    margin-top: 20px;
  }
  .wc-userinfo__body .item-list ul li {
    padding: 0.75rem 0 0 0;
  }
}

@media (max-width: 375px) {
  .wc-userinfo-card .wc-userinfo__header {
    position: relative;
  }
  .wc-userinfo-card .wc-userinfo__header .actions {
    position: absolute;
    top: -25px;
    right: 0;
  }
}
