.view-id-wristcheck_order_list {
  .item-list > ul > li {
    width:90%;
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap;
    .views-field-field-model-images {
      width:450px;
      .field-content {
        img {
          width: 400px;
          height: 200px;
        }
      }
    }
    .views-field-order-items-target-id {
        font-weight: bold;
        font-size:30px;
      margin-bottom: 15px;
    }
    .views-field-created {
      margin-top: 60px;
      margin-left: -21%;
      .field-content {
        display: flex;
         h5 {
           padding-right: 20px;
         }
        a {
          color: blue;
        }
      }
    }
    .views-field-total-price__number {
      margin-top: 130px;
      margin-left: -20%;
      margin-right: 50px;
      font-weight: bold;
    }
    .views-field-view-commerce-order {
      margin-top: 130px;
      .field-content {
        a {
          color: blue;
        }
      }
      //margin-left: -8%;
    }
  }
}
