.path-sellwatchinput {
  main {
    .wc-panel {
      .text-center {
        button {
          width: 50%;
        }
      }

      .direction {
        //margin-left: 7%;
        h5 {
          i {
            margin-right: 10px;
            font-size: 30px;
          }
        }
      }

      .person_img {
        margin-bottom: 50px;
      }

      .row {
        .w_des {
          margin-bottom: 50px;
          margin-top: 290px;

          .watch_title {
            width: 100%;
            margin-bottom: 10px;
          }

          .watch_price {
            width: 100%;
            margin-bottom: 20px;
          }
        }
      }

      .basic_info {
        margin-bottom: 100px;

        .w_year {
          margin-bottom: 20px;
        }

        .w_dimeter {
          label {
            width: 100%;
          }
        }
      }

      .Price {
        margin-bottom: 60px;
      }
    }
  }
}

.wc-sell-watchinput {

  .webform-submission-form {
    .sell-watch-input-required {
      font-size: 18px;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: #222222;
    }

    input, select {
      height: 38px;
      background-color: rgba(223, 223, 223, .24);
      border: none;
      margin-bottom: 30px;
    }
  }

  .w_des,
  .w_dimeter,
  .w_year {
    input, select {
      display: block;
      width: 100%;
      height: 38px;
      background-color: rgba(223, 223, 223, .24);
      border: none;
      margin-bottom: 30px;
      padding: 0.375rem 0.75rem;

      &:hover, &:active, &:focus {
        outline: none;
      }
    }
  }

  .w_dimeter-x {
    padding: 0 20px;
    line-height: 38px;
  }

  .wc-sell-watch-input-right-box {
    width: 340px;
    margin: 0 auto;

    .wc-sell-watch-input-img-box {
      width: 340px;
      height: 250px;
      background-color: rgba(223, 223, 223, .24);
      margin-bottom: 30px;
    }

    label {
      font-size: 14px;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: #666666;
      margin: 0;
    }

    input {
      background-color: #fff;
      font-size: 18px;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: #222222;
      padding: 0;

      &::placeholder {
        color: #222;
      }

      &:hover, &:active, &:focus {
        outline: none;
      }
    }

    .watch_des {
      border-top: 1px solid #ddd;
      padding-top: 40px;

      h1 {
        font-size: 18px;
        font-family: Source Han Sans CN;
        font-weight: bold;
        color: #222222;
        margin-bottom: 20px;
      }

      p {
        font-size: 18px;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #222222;
      }
    }
  }

}
